html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article,
aside,
footer,
header,
main,
nav,
section {
  display: block; }

[hidden],
template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
  border: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

img.responsive-img,
video.responsive-video {
  width: 100%;
  height: auto; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center, .center-align {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

fieldset.flat {
  border: 0;
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

.hidden-mobile {
  display: none !important; }

.only-desktop {
  display: none !important; }

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal; }

@font-face {
  font-family: 'Acme';
  src: url("../fonts/acme.eot");
  src: url("../fonts/acme.eot?#iefix") format('embedded-opentype'),
       url("../fonts/acme.woff") format('woff'),
       url("../fonts/acme.ttf") format('truetype'),
       url("../fonts/acme.svg") format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT';
  src: url("../fonts/PTS55F.eot");
  src: url("../fonts/PTS55F.eot?#iefix") format('embedded-opentype'),
       url("../fonts/PTS55F.woff") format('woff'),
       url("../fonts/PTS55F.ttf") format('truetype'),
       url("../fonts/PTS55F.svg") format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT';
  src: url("../fonts/PTS75F.eot");
  src: url("../fonts/PTS75F.eot?#iefix") format('embedded-opentype'),
       url("../fonts/PTS75F.woff") format('woff'),
       url("../fonts/PTS75F.ttf") format('truetype'),
       url("../fonts/PTS75F.svg") format('svg');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Head';
  src: url("../fonts/safe_from_harm.eot");
  src: url("../fonts/safe_from_harm.eot?#iefix") format('embedded-opentype'),
       url("../fonts/safe_from_harm.woff") format('woff'),
       url("../fonts/safe_from_harm.ttf") format('truetype'),
       url("../fonts/safe_from_harm.svg") format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  color: #453C3E;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-family: "PT", sans-serif;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  background-color: #E3DBD2; }

h1, h2, h3, h4, h5, h6 {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 0.405em; }

h1 {
  font-family: 'Head';
  margin: 0;
  font-weight: normal; }

h2 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

.section-title {
  font-family: 'Acme';
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 20px; }

a {
  color: #453C3E;
  text-decoration: none;
  transition: all .3s ease-out;
  -webkit-tap-highlight-color: transparent; }
  a:hover {
    outline: 0; }

p {
  margin: 0 0 20px;
  line-height: 1.35; }
  p a {
    text-decoration: underline;
    color: #333333; }

.content-link {
  font-family: 'Acme';
  display: block;
  line-height: 2;
  text-decoration: underline;
  font-size: 1.125em; }

.section-page .list--benefits {
  margin: 0 0 1.8em;
  padding-left: 0;
  line-height: 1.35;
  list-style: none; }
  .section-page .list--benefits li {
    position: relative;
    padding-left: 1.8em;
    margin-bottom: 0.5em; }
    .section-page .list--benefits li:before {
      position: absolute;
      top: 9px;
      left: 8px;
      display: block;
      width: 11px;
      height: 3px;
      content: '';
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: #99A478; }
    .section-page .list--benefits li:after {
      position: absolute;
      top: 11px;
      left: 5px;
      display: block;
      width: 7px;
      height: 3px;
      content: '';
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      background-color: #99A478; }

ul.default {
  margin: 0 0 1.8em;
  padding-left: 1.8em;
  line-height: 1.35;
  list-style-type: square;
  list-style-position: outside; }
  ul.default li {
    margin-bottom: 0.5em; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none; }

.button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  transition: .2s ease-out;
  color: white;
  background-color: #453C3E;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: .5px;
  height: 36px;
  line-height: 38px;
  font-family: 'Acme';
  padding: 0 2rem;
  text-transform: uppercase;
  min-width: 80%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 7px 7px 0; }
  .button:hover {
    background-color: #53484a;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.button-link {
  position: relative;
  background-image: url(../images/arrow-right.svg);
  background-position: 90% 50%;
  background-size: auto 12px;
  background-repeat: no-repeat;
  padding-right: 3rem; }
  .button-link .arrow-right {
    fill: white; }

.button-download {
  padding-left: 3rem; }
  .button-download svg {
    width: 20px;
    height: 36px;
    margin-right: 10px;
    position: absolute;
    left: 1rem; }
  .button-download span {
    line-height: 36px;
    display: inline-block; }

select {
  max-width: 100%; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

.selector {
  width: 100%;
  cursor: pointer;
  position: relative;
  line-height: normal;
  background-clip: padding-box;
  background-color: white;
  display: block;
  border: 1px solid grey;
  border-radius: 3px; }
  .selector:hover {
    border-color: grey; }
  .selector.focused, .selector:active {
    border: 1px solid black; }
  .selector:before {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 10px;
    height: 3px;
    content: '';
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: rotate(-45deg) translateY(-50%);
            transform: rotate(-45deg) translateY(-50%);
    background-color: #58595b; }
  .selector:after {
    position: absolute;
    top: 50%;
    right: 18px;
    display: block;
    width: 10px;
    height: 3px;
    content: '';
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
    background-color: #58595b; }
  .selector.focused:before, .selector:active:before {
    -webkit-transform: rotate(-135deg) translateY(-50%);
            transform: rotate(-135deg) translateY(-50%); }
  .selector.focused:after, .selector:active:after {
    -webkit-transform: rotate(135deg) translateY(-50%);
            transform: rotate(135deg) translateY(-50%); }
  .selector select::-ms-expand {
    display: none; }
  .selector select {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    z-index: 4;
    position: relative;
    display: block;
    color: #58595b;
    font-family: 'Acme';
    font-size: 1em;
    letter-spacing: 0.05em;
    padding: 0.7em 1.9em 0.7em 0.7em;
    background: transparent;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-appearance: window;
    -moz-padding-end: 19px;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    outline: none;
    border: none; }

.teasers {
  *zoom: 1; }

.teasers:before {
  content: '';
  display: table; }

.teasers:after {
  content: '';
  display: table;
  clear: both; }

.teaser-activity {
  padding: 30px 20px; }
  .teaser-activity .teaser__wrapper {
    max-width: 45em;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .teaser-activity .teaser__content h2 {
    margin: 0;
    font-weight: normal;
    margin-bottom: 15px;
    line-height: 1;
    font-family: 'Acme'; }
    .teaser-activity .teaser__content h2 a {
      text-decoration: underline;
      display: block; }
  .teaser-activity .teaser__content p {
    margin: 0; }
  .teaser-activity .teaser__image {
    display: none; }

.teaser-activity:nth-of-type(3n+1) {
  background-color: #99A478;
  color: white; }
  .teaser-activity:nth-of-type(3n+1) a {
    color: white; }

.teaser-activity:nth-of-type(3n+2) {
  background-color: #453C3E;
  color: white; }
  .teaser-activity:nth-of-type(3n+2) a {
    color: white; }

.teaser-activity:nth-of-type(3n+3) {
  background-color: #F2E7D4;
  color: #453C3E; }

.teasers--rooms {
  margin: 0 20px;
  display: flex;
  flex-flow: row wrap; }

.teaser-room {
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-clip: padding-box;
  transition: .2s ease-out;
  cursor: pointer;
  text-decoration: none; }
  .teaser-room:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
    .teaser-room:hover .teaser__image:before {
      background-color: white;
      -webkit-transform: rotate(135deg) translate3d(-3px, -3px, 3px);
              transform: rotate(135deg) translate3d(-3px, -3px, 3px); }
    .teaser-room:hover .teaser__image:after {
      background-color: white;
      -webkit-transform: rotate(-135deg) translate3d(-3px, 3px, 0);
              transform: rotate(-135deg) translate3d(-3px, 3px, 0); }
  .teaser-room .teaser__wrapper {
    background-color: white;
    display: block; }
  .teaser-room .teaser__image {
    display: block;
    width: 100%;
    position: relative; }
    .teaser-room .teaser__image img {
      width: 100%; }
    .teaser-room .teaser__image:before, .teaser-room .teaser__image:after {
      position: absolute;
      display: inline-block;
      right: 20px;
      bottom: 28px;
      width: 8px;
      height: 24px;
      content: '';
      transition: .3s;
      background: rgba(255, 255, 255, 0.7); }
    .teaser-room .teaser__image:before {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
      height: 17px;
      z-index: 2; }
    .teaser-room .teaser__image:after {
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
      bottom: 10px;
      right: 17px;
      z-index: 3; }
  .teaser-room .teaser__content {
    text-align: center;
    padding: 0 20px; }
  .teaser-room h2 {
    font-size: 20px;
    font-family: 'Acme';
    font-weight: normal;
    color: #453C3E; }

h2.special-offer {
  position: relative;
  display: block;
  padding: 0.5em 20px;
  margin: 10px -30px;
  background: #d65827;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  color: white; }
  h2.special-offer:before, h2.special-offer:after {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    z-index: -1;
    bottom: -10px;
    border-top: 10px solid #953d1b;
    border-left: 10px solid transparent;
    background: transparent; }
  h2.special-offer:after {
    right: 0;
    left: auto;
    border-right: 10px solid transparent; }
  h2.special-offer:hover {
    background: #99A478; }
    h2.special-offer:hover:before {
      background: #565d3f; }
    h2.special-offer:hover:after {
      background: #10110c; }

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out; }
  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.7s ease-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    pointer-events: none; }
  .waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45); }

.prices {
  margin: 1.5em 0;
  list-style-type: none; }
  .prices .heading label {
    text-align: center;
    font-family: 'Acme';
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 7px;
    width: 50%; }
    .prices .heading label span {
      font-family: 'PT', sans-serif;
      display: block;
      font-size: 0.85em; }
  .prices .heading {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .prices .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .prices .content-item {
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    text-align: center;
    font-family: 'Acme';
    background-color: #99A478;
    color: white;
    font-size: 1.2em;
    position: relative;
    padding: 1.125em 1.8em;
    border-collapse: collapse;
    overflow: hidden; }
    .prices .content-item span {
      display: block; }
    .prices .content-item.toggle-highlight span {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out, -webkit-transform 0.3s ease-out; }
      .prices .content-item.toggle-highlight span.highlighted {
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
        opacity: 0; }
    .prices .content-item:first-child {
      border-radius: 10px 0 0 0;
      border-right: 1px solid white; }
    .prices .content-item + .content-item {
      border-radius: 0 10px 0 0; }
  .prices .ctas {
    -webkit-flex: 1 1 40%;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .prices .cta {
    width: 50%;
    text-align: center;
    font-family: 'Acme';
    font-size: 1.2em;
    padding: 1.125em 1em;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .prices .cta-request {
    background-color: white;
    border-radius: 0 0 0 10px; }
  .prices .cta-book {
    color: white;
    background-color: #453C3E;
    border-radius: 0 0 10px 0; }

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0; }

.main-content {
  text-align: center; }

.section-green {
  background-color: #99A478;
  color: white;
  padding: 50px 0; }

.quick-links {
  margin: 20px 0 40px; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  transition: background-color 0.4s, padding 0.8s ease 0.4s;
  padding: 12px 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #453C3E;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }
  .page--home .header,
  .page--home.menu-opened .header {
    background: transparent; }
  .menu-opened .header {
    background: #E3DBD2; }
  .header .container {
    padding: 0 10px; }
  .header.is-fixed {
    transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
    position: fixed;
    top: -60px;
    background-color: #453C3E; }
    .page--home .header.is-fixed {
      background-color: #7DACE4; }
  .header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }

.logo {
  margin: 0 0.3em;
  position: relative;
  z-index: 10;
  display: block;
  float: left; }
  .logo svg {
    width: 40px;
    margin-top: 2px; }
    .logo svg path {
      fill: white;
      transition: fill cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s; }
      .menu-opened .logo svg path {
        fill: #453C3E; }

.menu-title {
  opacity: 0;
  position: absolute;
  z-index: 9;
  padding-left: 80px;
  top: 15px;
  transition: opacity 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), opacity 0.2s ease;
  transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), opacity 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -webkit-transform: translateY(-100px) scale(0.3);
          transform: translateY(-100px) scale(0.3);
  color: #453C3E;
  text-transform: uppercase;
  font-family: 'Head';
  font-size: 2em;
  line-height: 34px; }
  .menu-opened .menu-title {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    transition: opacity 0.2s ease 1.2s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s;
    transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s, opacity 0.2s ease 1.2s;
    transition: transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s, opacity 0.2s ease 1.2s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 1.2s; }

.menu-open,
.menu-close {
  float: right;
  position: relative;
  z-index: 10;
  cursor: pointer;
  padding: 6px 10px;
  transition: all 0.3s;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #fff;
  font-family: 'Acme';
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .menu-open:hover,
  .menu-close:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .is-fixed .menu-open, .is-fixed
  .menu-close {
    box-shadow: none; }

.menu-close {
  display: none;
  border-color: #333333;
  color: #333333; }

.menu-opened .menu-open {
  display: none; }

.menu-opened .menu-close {
  display: block; }

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  background-color: #E3DBD2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  transition: -webkit-transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44), -webkit-transform 1s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: touch; }

.menu-opened {
  overflow: hidden; }

.menu-opened #menu {
  overflow: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.menu-main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 80px; }

.menu-link {
  text-decoration: none;
  display: block;
  font-family: 'Acme';
  padding-left: 50px;
  font-size: 1.25em;
  line-height: 2;
  transition: 0.1s; }
  .menu-link:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .menu-link.active {
    background-color: #453C3E;
    color: white; }

.social-lang {
  padding: 20px 0 20px 50px; }

.facebook-icon {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  line-height: 50px;
  margin-right: 20px; }
  .facebook-icon svg {
    fill: #453C3E;
    stroke: transparent;
    vertical-align: middle; }

.lang-item {
  display: inline-block;
  margin: 5px;
  background-color: white;
  width: 50px;
  line-height: 50px;
  color: #453C3E;
  text-align: center;
  text-decoration: none;
  font-family: 'Head';
  font-size: 1.5em;
  vertical-align: middle; }
  .lang-item.active {
    opacity: 0.4; }

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  max-width: 45em;
  margin: 0 auto;
  overflow: hidden;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  margin-bottom: 20px; }

#impression .owl-wrapper {
  padding: 20px 0;
  background-color: white;
  margin-bottom: 0; }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left;
  width: 100%; }
  .owl-carousel .owl-item img {
    width: 100%; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format('embedded-opentype'),
       url("../fonts/flexslider-icon.woff") format('woff'),
       url("../fonts/flexslider-icon.ttf") format('truetype'),
       url("../fonts/flexslider-icon.svg") format('svg');
  font-weight: normal;
  font-style: normal; }

.owl-controls {
  *height: 0; }

.owl-buttons div {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out; }

.owl-buttons div:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }

.owl-buttons .owl-next:before {
  content: '\f002'; }

.owl-prev {
  left: -50px; }

.owl-next {
  right: -50px;
  text-align: right; }

.owl-carousel:hover .owl-buttons .owl-prev {
  opacity: 0.7;
  left: 10px; }

.owl-carousel:hover .owl-buttons .owl-prev:hover {
  opacity: 1; }

.owl-carousel:hover .owl-buttons .owl-next {
  opacity: 0.7;
  right: 10px; }

.owl-carousel:hover .owl-buttons .owl-next:hover {
  opacity: 1; }

.owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none; }

.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center; }

/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */
.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  -webkit-perspective: 1200px;
          perspective: 1200px; }

/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease; }

.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease; }

/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease; }

.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease; }

/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both; }

.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  animation: goDown .6s ease both; }

/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both; }

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both; }

/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {
    opacity: 1; } }

@keyframes empty {
  0% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%); } }

@keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
            transform: translateZ(-500px) translateX(-200%); }
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
            transform: translateZ(-500px) translateX(-200%); } }

@-webkit-keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0); } }

@keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
            transform: translateZ(-500px) translateX(200%); }
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
            transform: translateZ(-500px); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0); } }

@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8); } }

@keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); } }

@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%); } }

@keyframes goDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5); } }

@keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5); } }

@keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

.intro-header {
  position: relative;
  max-width: 45em;
  margin: auto; }
  .intro-header .content {
    padding: 20px;
    font-family: 'Acme'; }
    .page--overview .intro-header .content {
      padding-top: 80px;
      padding-bottom: 40px; }
    .page--services .intro-header .content {
      padding-top: 80px;
      padding-bottom: 40px; }
  .intro-header h1 {
    font-size: 2.5em;
    line-height: 1;
    text-align: center; }
  .intro-header .subtitle {
    margin-top: 15px;
    font-size: 1.1em;
    text-align: center; }

.intro-scene {
  width: 100%;
  z-index: 1;
  position: relative;
  padding-bottom: 75%;
  background-color: #94B6E0;
  background-image: url("../images/hero-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20px; }

.intro-content {
  padding-top: 70px;
  text-align: center; }
  .intro-content .prefix-title {
    font-family: 'Acme';
    color: #CEDBEA;
    font-size: 1.1em;
    line-height: 1.35; }
  .intro-content h1 {
    color: white;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12); }
  .intro-content .site-logo svg {
    width: 100px; }

.page--home .main-content {
  margin-top: -20%;
  position: relative;
  z-index: 1; }

.page--basic {
  padding-bottom: 70px; }

.section-page {
  padding: 0 20px; }

.page-nav {
  padding-top: 60px; }

.levelup {
  display: block;
  background: #bca993;
  color: white;
  padding: 10px 20px 10px 34px;
  position: relative;
  font-family: 'Acme';
  font-size: 1.1em; }
  .levelup:before, .levelup:after {
    position: absolute;
    display: inline-block;
    left: 20px;
    width: 3px;
    height: 10px;
    top: 13px;
    content: '';
    transition: .3s;
    background: white; }
  .levelup:before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 18px; }
  .levelup:after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }

.price {
  font-family: 'Acme';
  text-align: center;
  font-size: 1.25em; }

.price-label {
  color: rgba(69, 60, 62, 0.5); }

.price-amount {
  text-transform: uppercase;
  color: #453C3E; }

.sticky-bottom {
  position: fixed;
  bottom: 0;
  width: 100%; }

.book {
  display: block;
  background-color: #99A478;
  color: white;
  text-align: center;
  font-family: 'Acme';
  font-size: 1.5em;
  line-height: 2;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14); }

@media screen and (min-width: 35em) {

  .teaser-room {
    flex: 0 0 auto;
    width: calc(99.99% * 1/2 - (20px - 20px * 1/2)); }

  .teaser-room:nth-child(n) {
    margin-right: 20px; }

  .teaser-room:last-child {
    margin-right: 0; }

  .teaser-room:nth-child(2n) {
    float: right; }

  .teaser-room:nth-child(2n) {
    margin-right: 0; } }

@media screen and (min-width: 45em) {

  .hidden-mobile {
    display: initial; }

  .hidden-tablet {
    display: none; }

  .button {
    min-width: 120px; }

  .teaser-activity .teaser__content {
    flex: 0 0 auto;
    width: calc(99.99% * 1/2 - (20px - 20px * 1/2));
    padding: 30px 20px; }

  .teaser-activity .teaser__content:nth-child(n) {
    margin-right: 20px; }

  .teaser-activity .teaser__content:last-child {
    margin-right: 0; }

  .teaser-activity .teaser__content:nth-child(2n) {
    float: right; }

  .teaser-activity .teaser__content:nth-child(2n) {
    margin-right: 0; }

  .teaser-activity .teaser__image {
    display: block;
    flex: 0 0 auto;
    width: calc(99.99% * 1/2 - (20px - 20px * 1/2)); }

  .teaser-activity .teaser__image:nth-child(n) {
    margin-right: 20px; }

  .teaser-activity .teaser__image:last-child {
    margin-right: 0; }

  .teaser-activity .teaser__image:nth-child(2n) {
    float: right; }

  .teaser-activity .teaser__image:nth-child(2n) {
    margin-right: 0; }

  .teaser-activity .teaser__image img {
    display: table; }

  .teaser-activity {
    padding: 0;
    *zoom: 1; }

  .teaser-activity:before {
    content: '';
    display: table; }

  .teaser-activity:after {
    content: '';
    display: table;
    clear: both; }

  .select--prices {
    width: 60%; }

  .prices .heading {
    width: 60%; }

  .prices .content-item:first-child {
    border-radius: 10px 0 0 10px; }

  .prices .content-item + .content-item {
    border-radius: 0; }

  .prices .content-item {
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%; }

  .prices .cta-request {
    border-radius: 0; }

  .prices .cta-book {
    border-radius: 0 10px 10px 0; }

  .container {
    padding-left: 10%;
    padding-right: 10%; }

  .main-content {
    text-align: left; }

  .page--home .header {
    padding: 3em 0 1em; }

  .page--home.menu-opened .header {
    padding-top: 12px; }

  .header .container {
    padding-left: 5%;
    padding-right: 5%; }

  .header.is-fixed {
    padding: 12px 0; }

  .page--services .intro-header .content {
    padding-left: 0;
    padding-right: 0; }

  .intro-header .content {
    padding-top: 80px; }

  .intro-scene {
    min-height: 100vh;
    background-position: 50% 0;
    background-image: url("../images/hero-home-tab.jpg"); }

  .intro-content h1 {
    font-size: 36px; }

  .page--services .section-page {
    position: relative;
    max-width: 45em;
    margin: auto;
    padding: 0; } }

@media screen and (min-width: 45em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 45em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 45em) and (min-resolution: 192dpi), only screen and (min-width: 45em) and (min-resolution: 2dppx) {

  .intro-scene {
    background-image: url("../images/hero-home-tab@2x.jpg"); } }

@media screen and (min-width: 50em) {

  .teaser-room {
    flex: 0 0 auto;
    width: calc(99.99% * 1/3 - (20px - 20px * 1/3)); }

  .teaser-room:nth-child(n) {
    margin-right: 20px; }

  .teaser-room:last-child {
    margin-right: 0; }

  .teaser-room:nth-child(3n) {
    float: right; }

  .teaser-room:nth-child(3n) {
    margin-right: 0; } }

@media screen and (min-width: 60em) {

  .only-desktop {
    display: inherit !important; }

  .hidden-desktop {
    display: none; }

  h2 {
    font-size: 25px; }

  h4 {
    font-size: 18px; }

  .teaser-activity {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .teasers--rooms {
    display: flex;
    flex-flow: row wrap;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .container {
    padding-left: 5%;
    padding-right: 5%; }

  .header {
    display: none; }

  .logo {
    position: fixed; }

  .menu-title {
    display: none; }

  .menu-open,
    .menu-close {
    display: none; }

  #menu {
    -webkit-transform: initial;
    transform: initial;
    height: auto;
    background-color: transparent;
    position: absolute; }

  .menu-main-nav {
    padding-top: 10px;
    max-width: 960px;
    margin: auto;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

  .menu-item {
    display: inline-block;
    margin-right: 20px; }

  .menu-item.active {
    text-decoration: underline; }

  .menu-item:last-child {
    margin-right: 0; }

  .menu-link {
    padding: 5px 10px;
    font-size: 1.1em; }

  .page--home .menu-link {
    color: white; }

  .page--home .menu-link:hover {
    background-color: rgba(255, 255, 255, 0.1); }

  .social-lang {
    display: none; }

  .intro-scene {
    background-image: url("../images/hero-home-desk.jpg"); }

  .intro-scene .container {
    display: flex;
    flex-flow: row wrap; }

  .intro-scene .intro-content {
    flex: 0 0 auto;
    width: calc(99.99% * 1/4 - (20px - 20px * 1/4));
    padding-top: 150px; }

  .intro-scene .intro-content:nth-child(n) {
    margin-right: 20px; }

  .intro-scene .intro-content:last-child {
    margin-right: 0; }

  .intro-scene .intro-content:nth-child(4n) {
    float: right; }

  .intro-scene .intro-content:nth-child(4n) {
    margin-right: 0; }

  .intro-scene .hero-text {
    flex: 0 0 auto;
    width: calc(99.99% * 3/4 - (20px - 20px * 3/4));
    padding-top: 150px;
    font-family: 'Acme';
    font-size: 1.1em; }

  .intro-scene .hero-text:nth-child(n) {
    margin-right: 20px; }

  .intro-scene .hero-text:last-child {
    margin-right: 0; }

  .intro-scene .hero-text:nth-child(4n) {
    float: right; }

  .intro-scene .hero-text:nth-child(4n) {
    margin-right: 0; }

  .page--home .section-green .container {
    display: flex;
    flex-flow: row wrap; }

  .page--home .section-green .section-title {
    flex: 0 0 auto;
    width: calc(99.99% * 1/4 - (20px - 20px * 1/4)); }

  .page--home .section-green .section-title:nth-child(n) {
    margin-right: 20px; }

  .page--home .section-green .section-title:last-child {
    margin-right: 0; }

  .page--home .section-green .section-title:nth-child(4n) {
    float: right; }

  .page--home .section-green .section-title:nth-child(4n) {
    margin-right: 0; }

  .page--home .section-green .section-content {
    flex: 0 0 auto;
    width: calc(99.99% * 3/4 - (20px - 20px * 3/4)); }

  .page--home .section-green .section-content:nth-child(n) {
    margin-right: 20px; }

  .page--home .section-green .section-content:last-child {
    margin-right: 0; }

  .page--home .section-green .section-content:nth-child(4n) {
    float: right; }

  .page--home .section-green .section-content:nth-child(4n) {
    margin-right: 0; }

  .section-page {
    max-width: 45em;
    margin: auto;
    padding-left: 0;
    padding-right: 0; }

  .page-nav {
    display: none; }

  .sticky-bottom {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 45em; } }

@media screen and (min-width: 60em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 60em) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 60em) and (min-resolution: 192dpi), only screen and (min-width: 60em) and (min-resolution: 2dppx) {

  .intro-scene {
    background-image: url("../images/hero-home-desk@2x.jpg"); } }

@media screen and (min-width: 64em) {

  .container {
    width: 960px;
    margin: auto;
    padding: 0; } }

@media screen and (min-width: 75em) {

  .intro-scene {
    padding-bottom: 56px; }

  .page--home .main-content {
    margin-top: 0; } }

@media screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {

  .intro-scene {
    background-image: url("../images/hero-home@2x.jpg"); } }

/*# sourceMappingURL=theme.css.map */
