footer.footer
  .container
    .social-lang.left
      a.social.facebook-icon(href='https://www.facebook.com/duesternbrook/', target='_blank')
        svg(preserveAspectRatio='xMidYMid', width='44', height='44', viewBox='0 0 38 38')
          path(d='M18.832,0.000 C8.431,0.000 -0.000,8.507 -0.000,19.000 C-0.000,29.494 8.431,38.000 18.832,38.000 C29.232,38.000 37.664,29.494 37.664,19.000 C37.664,8.507 29.232,0.000 18.832,0.000 ZM24.405,11.178 C24.405,11.178 22.522,11.178 21.773,11.178 C20.845,11.178 20.651,11.562 20.651,12.531 C20.651,13.339 20.651,14.875 20.651,14.875 C20.651,14.875 24.405,14.875 24.405,14.875 C24.405,14.875 24.044,18.989 24.044,18.989 C24.044,18.989 20.651,18.989 20.651,18.989 C20.651,18.989 20.651,31.276 20.651,31.276 C20.651,31.276 15.788,31.276 15.788,31.276 C15.788,31.276 15.788,19.040 15.788,19.040 C15.788,19.040 13.258,19.040 13.258,19.040 C13.258,19.040 13.258,14.875 13.258,14.875 C13.258,14.875 15.788,14.875 15.788,14.875 C15.788,14.875 15.788,14.276 15.788,11.595 C15.788,8.516 17.419,6.908 21.038,6.908 C21.631,6.908 24.406,6.908 24.406,6.908 C24.406,6.908 24.406,11.178 24.406,11.178 C24.406,11.178 24.405,11.178 24.405,11.178 Z')

    .contact-info.right
      a.contact-item(href="https://goo.gl/maps/rPUDecGsCb62", target='_blank')    
        svg.map-icon(preserveAspectRatio='xMidYMid', width="28", height="28", viewBox="464.5 464.5 35.5 35.5")
          g
            path(fill="#F2E7D4",  d='M482.25,464.64c-7.159,0-12.982,5.825-12.982,12.984c0,6.993,12.068,21.168,12.582,21.768l0.4,0.469 l0.4-0.469c0.515-0.6,12.582-14.774,12.582-21.768C495.232,470.465,489.409,464.64,482.25,464.64z M482.25,482.975 c-2.951,0-5.351-2.401-5.351-5.351c0-2.951,2.399-5.353,5.351-5.353s5.352,2.401,5.352,5.353 C487.602,480.573,485.201,482.975,482.25,482.975z')

      a.contact-item(href="contact.html") 
        svg.mail-icon(preserveAspectRatio='xMidYMid', fill="#F2E7D4", width='34', height='34', viewBox="0 0 24 24")
          path(d="M0 0h24v24H0z", fill='none')
          path(d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z") 
      a.contact-item-wide(href="tel:00264818643000")    
        svg.left(preserveAspectRatio='xMidYMid', fill="#F2E7D4", width='26', height='26', viewBox="0 0 24 24")
          path(d='M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z')
          path(d='M0 0h24v24H0z', fill='none')
        span.phone.left.hidden-mobile +264 81 864 3000
