meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='msapplication-tap-highlight', content='no')

if meta_descript
  meta(name='description', content='#{meta_descript}')
else
  meta(name='description', content='Düsternbrook Guest Farm, near Windhoek. Guest rooms and camping. Game drives, horse riding and leopards and cheetahs tours. ')
  
include _favicon.pug

link(href='/css/theme.css', rel='stylesheet', type='text/css', media='screen')

if page
  title #{page} - Düsternbrook safari guest farm
else
  title Düsternbrook safari guest farm

include _inline-script.pug
