script(src='/js/theme.js')

if form 
  script(src='/pickadate/picker.js', async)
  script(src='/pickadate/picker.date.js', async)
  script(src='/pickadate/picker.init.js', async)
  link(href='/pickadate/default.css', rel='stylesheet', type='text/css', media='screen')
  link(href='/pickadate/default.date.css', rel='stylesheet', type='text/css', media='screen')
if german
  script(src="/pickadate/translations/de_DE.js", async)

if gallery
  link(href='/gallery/blueimp-gallery.css', rel='stylesheet', type='text/css', media='screen')
  script(src='/gallery/blueimp-gallery.min.js', async)
  script. 
    document.getElementById('gallery').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
    };
    

  #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator

if gallery2
  script. 
    document.getElementById('gallery2').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
    };

script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12382964-1']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
