.page-nav
  a.levelup(href='activities.html') Back to activities

.intro-header
  .content
    h1 Bird-watching

.section-page
  p We have documented five southern African endemics (South African Shelduck, Cape Vulture, Ashy Tit, Anteating Chat, and Rockrunner). The walking trails offer particularly good birding venues. Our guides have some training in bird identification and we have checklists, binoculars, and field guides available on request.

  p
    img.responsive-img.lazyload(src='content/img/blank.png', data-src='content/img/namibian-purple-roller.jpg' alt='Purple roller')

  p We have a extensive list of birds that were observed in July 2015. This will give you a good impression.

  p
    a.button.waves-effect.waves-light.button-download(href='content/docs/Dusternbrook_Bird_List.pdf')
      svg(fill="#ffffff", viewBox="0 0 24 24")
        path(d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z")
        path(d="M0 0h24v24H0z", fill="none")
      span View bird list
  
    small &quot;Common resident&quot; means the bird was seen everyday somewhere on the farm.
