.page-nav
  a.levelup(href='activities.html') Back to activities

.intro-header
  .content
    h1 Cats unlimited

.section-page
  p Our main wildlife attraction, the cheetah and leopard drive, takes place every afternoon, and you will have the opportunity to see, from the safety of one of our vehicles, at least one of each of our leopards and cheetahs at feeding time. 

.activity-slides
  .item
    img(src='content/img/medium/11.jpg')
  .item
    img(src='content/img/medium/33.jpg')
  .item
    img(src='content/img/medium/cats-unlimited1.jpg')
  .item
    img(src='content/img/medium/34.jpg')
  
.section-page 
  p Our big cats are free roaming, within large enclosures, but not self-sustaining, as there is not naturally enough game for them to survive on. Although there is a huge demand for these animals to be trained as 'pets', that is not our policy here at Düsternbrook - we believe in protecting the natural habitat of these wild animals so that they can roam and breed freely, safely, and comfortably, as they have done for thousands of years. 

  p There is lots of space, and from the vehicle you will have a great view for taking some amazing photographs of these beautiful animals .

  p In our package price the standard tour is included. This tour is always in the afternoon at 14.00 in winter (Apr-Sep) or 15.30 in summer time (Sep-Apr).
  
  .price
    .price-label Price
    .price-amount N$ 340,- Per person
    
  .center.margin-top-m
    a.book.js-book-activity(href='#') Book this activity
