.page-nav
  a.levelup(href='rooms.html') Back to accommodation
  
.intro-header
  .content
    h1 Chalets
    
.section-page
  p We have 2 chalets at the dam and 2 chalets at a historical water place called Davidsdraai. All the chalets are not luxurious and are designed for nature lovers. 
  
  p The 2 chalets near the dam are about 3km from the main house. The chalets are about 260m apart from each other and build out of local materials. One chalet is made from wood, the other is build out of natural stone. Both chalets have water spots where the game drinks, but the Hippo dam looses water through the year and in a very dry year (mostly november/december) there might be now water in front of Hippo Chalet 2, but the game still passes by to get to the water.

  .embed-responsive.embed-responsive-16by9
    <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fduesternbrook%2Fvideos%2F1399414436836699%2F&show_text=0&width=560" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe><br />

  
  p The other two chalets at Davidsdraai are about 5km from the main house and stand 60m apart from each other. These are both build out of natural stone. 
  
  p The accommodation has got all you need: water, toilet, hot (solar) shower, a wash basin and light. The electricity is delivered by solar panels on the roof. The sleeping room has got two beds. Outside you have a terrace and a sink to wash dishes and a facility to make a barbecue or cook. The stone chalets at Davidsdraai have a shaded terrasse and car port. All chalets are ideal for game and bird viewing as both have water places. It can cater for 2 adults and 2 children maximum.

  p The style of the chalets are very basic. You can see it as an upgraded form of camping, with water, toilet, shower hot and cold and a washbasin and limited solar light. There is no internet and you have to bring your own food and drinks (we do not have a shop on our farm). But you can also make a reservation for breakfast or dinner at the main house.

  p Enjoy game and bird species passing by from your own private terrace. There is a road from the farm to the chalet, so you can either walk or drive to the chalet from the reception.
  
  blockquote
    q Todays advantage: No internet.
  
  p We have 6 hippos in our dam. In the summer during daytime the hippos live in the water and in the winter (june-july) they like to warm up on the shore. At the end of our game drive we usually pass by the dam, but you can also go for a walk to the dam.

.section-page
          
  #gallery.gallery
  
    - for (var i = 1; i < 13; ++i)
      a.gallery__item(href='/content/img/' + pageslug + '/original/' + pageslug + i + '.jpg')
        img.lazyload(src='/content/img/blank.png', data-src='/content/img/' + pageslug + '/small/' + pageslug + i + '.jpg')
        
        
