.page-nav
  a.levelup(href='rooms.html') Back to accommodation

.intro-header
  .content
    h1 Damahaus

.section-page
  p The niveau of Dama House has been upgraded onto the level of Felsenhouse in May 2017. It is an ideal family unit, as it has enough space for 2 adults and say 2 smaller kids (queensize bed). If necessary we can add a stretcher.

  p
    strong Features

  ul.list--benefits
    li 1 x King size bed
    li 1 x Queen size bed in a separate room
    li Bathroom with shower
    li Small kitchenette
    li Coffee machine
    li Closed terasse with a lot of windows which can be opened widely (double aluminium door with gauze)
    li Small private carport

  p The Dama House is situated a bit separate but not remote, distance to the main house about 80 m. It offers itself as an:

  ol
    li Ideal family unit
    li For longer stay
    li Or even to spent your European winter here

  p If you look through our website you will see we have different categories from luxury 4 star accommodation with fire place (KLS), mini-bar, coffee machine, own summer and winter terrace to our plain 1 star safari luxury tents. Or for nature lovers our very basic equipped chalets (at the Hippo dam or at Daviddraai) and camping. It is simply like that if you travel with kids you have different costs than travelling alone. For that reason we have different categories to suit different individual needs but all can still participate in all the different activities.

  p Dama house is now a family unit on a 3 star level. The price is in the same range like Felsenhaus. You have not got the same view but other advantages like the big terrace etc.


.section-page

  #gallery.gallery

    - for (var i = 1; i < 5; ++i)
      a.gallery__item(href='/content/img/' + pageslug + '/original/' + pageslug + i + '.jpg')
        img.lazyload(src='/content/img/blank.png', data-src='/content/img/' + pageslug + '/small/' + pageslug + i + '.jpg')