.page-nav
  a.levelup(href='zimmer.html') Zurück zur Unterkunft
  
.intro-header
  .content
    h1 Felsenhaus

.section-page
  p Das kleine Gästehaus umfasst 2 Zimmer, von denen Sie den wunderschönen Ausblick auf das unterhalb liegende Trockenflussbett geniessen können. Beide individuell gestalteten Zimmer mit Doppelbett verfügen über ein eigenes direkt angeschlossenes Badezimmer und eine kleine Terrasse, die sich auf der jeweils gegenüberliegenden Seite befindet und so Privatsphäre bietet.
  br 
  p.center Werfen Sie einen Blick in den Raum
  .center
    a.book(href='https://goo.gl/maps/Z26rDndEVeN2', target="_blank") virtuelle Tour
  br
.section-page
          
  #gallery.gallery
  
    - for (var i = 1; i < 13; ++i)
      a.gallery__item(href='/content/img/' + pageslug + '/original/' + pageslug + i + '.jpg')
        img.lazyload(src='/content/img/blank.png', data-src='/content/img/' + pageslug + '/small/' + pageslug + i + '.jpg')
