.page-nav
  a.levelup(href='activities.html') Back to activities

.intro-header
  .content
    h1 Game drive

.section-page
  p As one of our activities we offer in the morning a mountain drive where you can experience the sunrise on the Khomas Highland, a beautifull scenery. After sunrise your guide will drive you into the mountains to experience nature waking up while you enjoy a cup of coffee or tea. With a bit of luck you will be one of few who has seen the rare Hartman Mountain zebra.

.activity-slides
  .item
    img(src='content/img/medium/wildebeast-herd.jpg')
  .item
    img(src='content/img/medium/baboon-in-river.jpg')
  .item
    img(src='content/img/medium/oryx-herd.jpg')
  .item
    img(src='content/img/medium/mountain-zebra.jpg')
  .item
    img(src='content/img/medium/pelicans.jpg')
  .item
    img(src='content/img/medium/hippo-and-baby.jpg')
  .item
    img(src='content/img/medium/klipspringer.jpg')
  .item
    img(src='content/img/medium/warthog.jpg')
  .item
    img(src='content/img/medium/waterbuck.jpg')
  .item
    img(src='content/img/medium/ostrich-female.jpg')
  .item
    img(src='content/img/medium/giraffes-2.jpg')      
  .item
    img(src='content/img/medium/eland-herd.jpg')
  .item
    img(src='content/img/medium/impalas.jpg')
  
.section-page  
  p Our popular Game Drive takes place late afternoon, when the sun is not so hot, and there is more opportunity to spot game as the animals come out from their shelters to look for food and water. Our drives are very scenic and you will have plenty of opportunities to take photographs, or watch the game through binoculars.
  p There are a wide variety of animals that you may see, sometimes from a great distance (giraffes are very distinctive on the horizon!), and sometimes within feet of the vehicle. Some of our favourites are: Hippo, Giraffe, Blue Wildebeest, Kudu, Red Hartebeest, Steenbok, Warthog, Impala, Ostrich, and a rich bird life like 4 different Hornbills.
  p Please ask in the reception for further details of times and prices. You can make a booking at any time.
