.page-nav
  a.levelup(href='activities.html') Back to activities

.intro-header
  .content
    h1 Hiking

.section-page
  p On our guest farm we have different well-marked walks from 1 hour to 6 hours where you also can see wildlife including our rich birdlife. At our reception you can ask for the routes and more information. The trails are free of charge for overnight guests. For day visitors a conservation fee of N$60,- is required.
  
  p Besides our “normal hiking trails” we now offer a new trail into the Khomas Hochland Mountain with one night camping.
  
  p Opened in June 2015, the new Khomas Hochland Hiking Trail covers a total distance of 91km over 6 days. It winds through the most alluring and rugged part of the Khomos Hochland crossing 5 farms - Duesternbrook, Otjiseva, Onduno, Godeis and Monte Christo. There is also an option to do a 4 day (53 km) hike.

  p We are certain it will attract hikers interested in geology, bird-watching, trees and other plants, wildlife especially reptiles, archaeology and those who just love a hike through mostly unspoiled nature, walking in dry river beds and over the rolling hills of the Khomas Hochland.

  p
    img.responsive-img.lazyload(src="content/img/blank.png", data-src='content/img/hiking-namibia.jpg' alt='Khomas Hochland Hiking Trails')

  p The route is well marked and should cause no problems to hiking groups. Fences are crossed with ingenious steps using old car tyres. The overnight places are well designed - catering for all hikers' needs. This includes hot showers (solar heated or using a 'donkey'), clean toilets, braai facilities and a covered sleeping area.

  p Lots of big trees provide ample resting spots along the route. The scenery is special. All kinds of game - Oryx, Kudu, Warthogs, Zebra, Waterbuck, Baboons, Klippspringer and more are plentiful. You might even see a Leopard or two. Birdlife along the Aretaragas and Otjiseva rivers and at the dams can be enjoyed in abundance. Eagles, Waterbirds, Lovebirds and lots of others will accompany you along your way.
  
  p
    strong Khomas Hochland Hiking Trail:
  
  ul.default
    li 
      a(href="http://www.landscapesnamibia.org/windhoek-green-belt/khomas-hochland-hiking-trail-description", target="_blank") Read a full description
    li
      a(href="http://www.landscapesnamibia.org/windhoek-green-belt/sites/default/files/KHHT_flyer.pdf", target="_blank") Download the flyer
    li
      a(href="https://www.facebook.com/KHHikingTrails/", target="_blank") The facebook page
    li
      a(href="http://www.landscapesnamibia.org/windhoek-green-belt/khomas-hochland-hiking-trail-reservation", target="_blank") Make your reservation
    li
      a(href="contact.html") Contact us for more information.
