.page-nav
  a.levelup(href='activities.html') Back to activities

.intro-header
  .content
    h1 Hiking in Namibia

.section-page
    
  h4 Day hiking trails
  p As a overnight visitor or as day we offer several well-marked day hiking trails ranging from 1 hour to 6 hours. 

  h4 Weekend trails
  p Ombota Wilderniss Trail is a weekend trail, here  you can hike from the main house to an overnight shelter called Khomas Eck Basecamp with basic overnight facilities (see further down). After a wonderfull night in the basecamp you can either hike back the next day but on a different trail as came up. The basecamp is very inviting to spend more than one night and as a hightlight you can hike up the top of the Khomas Eck (1850 m). The way up offers beautiful unspoiled views into the mountain landscape, you even pass a dry waterfall. From the top you have the most fanatsic 360 degrees view: You can see for example Windhoek, Okahandja, Gross Barmen all from one spot. 

  h4 Long distance trails
  p In co-operation with neighbouring farmers we offer the Khomas Hochland Hiking Trail (KHHT). The trails are 90 km ( 6 days) or 54.4 km ( 4 days).The start and end the new (2016) and now already very popular Khomas Hochland Hiking Trail is at Düsternbrook. For further information have a look at our website 
    a(href="http://www.namibiahike.com") namibiahike.com 

  p On all above trails long or short you will always have a very scenic landscape and rich wild- and birdlife. So there is a lot to see and to discover.
  
  h4 What's included?
  p On all overnight trails (long distance or weekend trails) we offer two versions: back pack or slack pack. Back pack you have to carry all your gear and food yourself. In the slack pack version the following is included in the price: a matrass, raw food from the farmer: 200 gr game meat, 150 gr vegetables, oil, spices and farmbread but you have to prepare the the food yourself. All your gear plus the matrasses will than be transported from campsite to campsite, at an extra transport rate which will be divided between the hikers. The more hikers the cheaper the rate per person. Further more you can order in advance some drinks from the farmers. If you do not want to sleep in the open you can also rent a tent or sleeping bag, just bring your own inlay. In that case all you have to carry is only your daily pack with water (3 ltr /day)  and some food.  

  h4 The location 
  p If you are interested in geology, wildlife, bird-watching, trees and other plants or reptiles apart from listeneing only to sounds of nature or the the most amazing night sky this is the right place to go. Animals you are likely to see are: oryx, kudu, warthog, zebra, klipspringer, baboons, steenbok and rock dassie.
  
  h4 Trail markings
  p The trails is well signposted every 100m to 150 m you will see a signboard. The long trails are done according to the requirements of the south African Green Flag accreditation which is like a “star” system for hikers to know what to expect as a minimum. The KHHT has been inspected and currently (2016) the only trail in Namibia which fullfills this criteria and has obtained the Green Flag accredition. (GFA) 
    
  h4 Facilities
  p Basic facilities at each overnight shelter: A roof and the surface underneath is soft sand and it can take a max of 12 hikers. A warm shower ( “donkie” system with supplied wood), a toilet ( mostly flush system), wash basin and a fireplace. Furthermore a kettle, a pan, a pot, and a grill to roast your meat, wood and a table and chairs/bench and drinkable water.   

  h2 Costs (2016)

  p For overnight guests of Duesternbrook the shorter trails 1 to 6 hrs are free of charge. Day visitors pay only 
    strong N$ 60.00/person/day. 
  
  p Trails with overnight facilities:
  ul.default
    li Back pack: 
      strong N$ 195/person and night
    li Slack pack: 
      strong N$ 325.00/person and night.
    li Transfer fee per group 
      strong N$ 700.00 per campsite. 
      | Example on the 90 km trails N$ 4200.00. 

  p Central reservation for all trails is: <a href="mailto:info@duesternbrook.net">info@duesternbrook.net</a>. <br /> With reservation you will get additional information material like maps, rules and regulations. 
  
  p
    img.responsive-img.lazyload(src="/content/img/blank.png", data-src='/content/img/hiking-namibia.jpg' alt='Khomas Hochland Hiking Trails')
    
  p
    strong Khomas Hochland Hiking Trail:
  
  ul.default
    li 
      a(href="http://www.landscapesnamibia.org/windhoek-green-belt/khomas-hochland-hiking-trail-description", target="_blank") Read a full description
    li
      a(href="http://www.landscapesnamibia.org/windhoek-green-belt/sites/default/files/KHHT_flyer.pdf", target="_blank") Download the flyer
    li
      a(href="https://www.facebook.com/KHHikingTrails/", target="_blank") The facebook page
    li
      a(href="http://www.landscapesnamibia.org/windhoek-green-belt/khomas-hochland-hiking-trail-reservation", target="_blank") Make your reservation
    li
      a(href="contact.html") Contact us for more information.
