.page-nav
  a.levelup(href='aktivitaten.html') Zurück zu Aktivitäten

.intro-header
  .content
    h1 Wandern auf Düsternbrook

.section-page
    
  h4 Tageswanderungen
  p Für Übernachtungs- oder Tagesbesucher haben wir 4 verschiedene und gut markierte Wanderwege von 1 bis 6 Stunden. 

  h4 Wochenend Trails (Weekend trails)
  p Ombota Wilderniss Trail. Hier wandert man vom Haupthaus am ersten Tag zu einer Hütte/Abdach, genannt Khomas Eck Basecamp mit einer basischen Grundaustattung.(siehe unten). Nach einem wunderschönen Abend in der Wildniss kann man entweder am nächsten Tag zurück wandern oder wenn man zwei oder 3 Tage Zeit kann dort gut verweilen oder vom Basecamp als highlight zum Khomas Eck ( 1850 m) hoch wandern. Schon der Weg nach Oben vorbei an einem trockenen Wasserfall, bietet sehr schöne Aussichten in der bergigen Natur. Von Oben hat man einen grandiosen 360 Grad Rundblick: Man sieht u.a. Windhoek, Okahandja und Gross Barmen. 

  h4 Mehrere Tage Trails
  p Hier bieten wir in ko-operation mit benachbarten Farmern den 90 km oder 54 km Khomas Hochland Hiking Trail ( KHHT) an. Dieser Trail ( seid 2016) erfreut sich jetzt schon grosser Beliebtheit und geht über 6 Tage/Nächte oder 4 Tage/Nächte. Der Anfang und Ende von diesem Trail ist Düsternbrook. Weitere Informationen und Berichte zu diesen Trails entnehmen Sie bitte unserer Webseite: 
    a(href="http://www.hikenamibia.com", target="_blank") hikenamibia.com
 
  p Auf allen oben genenannten Wanderungen befinden Sie sich immer in einer sehr schönen Landschaft. Das Khomas Hochland wird als sehr Artenreich eingestuft. Es gibt also einiges zu sehen und zu entdecken.  
  
  h4 Was ist inklusive?
  p Bei allen Wanderungen mit Übernachtung bieten wir zwei Variationen an: back pack und slack pack. Bei back pack muss man alles selber tragen, vom kleinen Zelt, Schlafsack, Isomatte und Verpflegung. Bei Slack pack stellen wir eine Matrazze, rohe Esswaren (200 gr Fleisch, 150 gr Gemüse und Farmerbrot, Öl und Gewürze) direkt vom Farmer aber man muss es selber zubereiten. Weiterhin kann auch im voraus Getränke beim Farmer bestellen. Wenn man nicht „draussen“ schlafen will vermieten wir auch Zelte und Schlafsäcke. Zelte, Schlafsack, Matrazzen und Ihre persönlichen Sachen werden dann per Auto ( extra Gebühr geteilt durch die Anzahl der Wanderer) von Campsite zu Campsite gefahren. Zum Wandern brauchen Sie also nur ihren Tagesrucksack  mit bisschen Verpflegung und Wasser (3 Ltr/ Tag)

  h4 Die Lage
  p Wenn Sie an Geologie, einer reichen Tierwelt, Vögel, Bäume oder auch andere Pflanzen oder Reptilien interessiert sind und abgesehen von einer himmlischen Ruhe, ein einmaliger Sternehimmel und die einzigartige Weite und Natur dann ist das sicher die richtige Wanderung für Sie. An Tieren können Sie folgendes erwarten: Oryx, Kudu, Warzenschweine, Zebra, Affen, Steinbock, Klispsringer und Klippschliefer.
  
  h4 Trail Markierungen
  p Alle Wanderwege sind gut markiert, alle 100m bis 150m ist ein Schild. Die langen  Trails erfüllen alle Minimumkriterien der Green Flag Accreditation, und werden inspiziert, das ist ein südafrikanisches „Sternesystem“ das Trails bewertet. Momentan ist es noch der Einzige Trail in Namibia der dieses Kriterium vorweisen kann.  
    
  h4 Grundaustattung
  p Grundaustattung der Übernachtungsstellen: Sie sind rustikal konzipiert mit einem Dach, ähnlich einem Carport und darunter ist weicher Sand, eine warme Dusche, Toilette, Waschbecken und Feuerstelle für Barbeque. Weiterhin ist dort eine Pfanne, Kessel, Topf und Rost zum grillieren von Fleisch und ausserdem wird Holz zur Verfügung gestellt, Sitzmöglichkeiten und ein Tisch und trinkbares Wasser. Die Dusche muss selber mit Holz gefeuert werden. 


  h2 Kosten (2016)

  p Die Tagestrails sind für Übernachtungsbesucher umsonst. Reine Tagesbesucher zahlen
    strong N$ 60.00/person/day. 
  
  p Trails with overnight facilities:
  ul.default
    li Back pack: 
      strong N$ 195/Person und Tag
    li Slack pack: 
      strong N$ 325.00/Person und Tag
    li Der Transfer vom persönlichen Gepäck kostet pro Tag 
      strong N$ 700.00 
      |. Diese Kosten muss die Gruppe sich teilen dh je mehr in der Gruppe je geringer die Transferkosten pro Person. 

  p Zentrale Reservation für alle Trails: <a href="mailto:info@duesternbrook.net">info@duesternbrook.net</a>. <br /> Bei Reservierung werden Ihnen weitere Informationen (Karten, Wanderregeln usw.) zugeschickt.  

  p
    img.responsive-img.lazyload(src="/content/img/blank.png", data-src='/content/img/hiking-namibia.jpg' alt='Khomas Hochland Hiking Trails')
