.intro-scene
  .loading-img
  .loaded-img
  .container
    .intro-content
      .prefix-title Safari guest farm
      h1 Düsternbrook
      .site-logo
        svg(viewbox='0 0 303.2 226.5')
          path(fill='#fff', d='M119.9,234.5c0.6-2.6,1.3-5.4-.2-7.8s-2.9-3.2-2.4-5.1,4.9-.6,6.4-0.6,2.2-.1,2.6-1.3-1.7-3.3-2.8-4.2a42.3,42.3,0,0,0-5.4-4.4c-0.8-.5-2.2-0.9-2.4-2s0.6-1.1,1.2-1.6,1.7-4.4.6-6.5-0.8-1.5-1.6-1a8.1,8.1,0,0,0-1.7,1.8,3.6,3.6,0,0,0-1,2.4,7.6,7.6,0,0,1-.3,3.2c-0.8,1.7-3.3,1.7-4.6,2.8s-3.1-.2-4.7-1.6-3.4-2.6-5-2.1-1,3.2,0,4.3a8.9,8.9,0,0,0,2.7,2c1.2,0.6,2.6.8,3.8,1.5a5.9,5.9,0,0,1,1.8,1.9,18.8,18.8,0,0,1,2.1,2.9,6.8,6.8,0,0,1-.5,6.5c-1.4,1.8-4.1,1.2-6.1,1.1s-5-.3-7.2,1.1-3.4,3-5.6,3.9a18.8,18.8,0,0,1-6.5,1.1c-4.6.1-9.4-.7-13.8,0.8s-8.4,5.9-9,10.7a16.7,16.7,0,0,1-2.7,7.5c-1.3,1.9-3.2,2.8-4.7,4.4s-0.1,2.9,1.3,3.9,2.4,1.2,3.6,0,1.8-5.5,4.1-7.1,5.7,2.9,6.5,5.1c1.4,4,3.2,8.7,1.4,12.8-0.9,2-1.9,3.8-1.2,6.1a3.2,3.2,0,0,0,1.2,1.8,2.2,2.2,0,0,0,2.5-.3c0.4-.6-0.1-1.4-0.2-2.1a14.3,14.3,0,0,1,.7-4.2,29.7,29.7,0,0,1,2.7-7.8,12.2,12.2,0,0,0,1.3-3.7c0.2-1.5.1-3,.3-4.5a5.6,5.6,0,0,1,1,3.6,29.6,29.6,0,0,1,.3,5.3,30.7,30.7,0,0,0-.2,5.5c0.1,1.8,0,3.6.1,5.3s0.2,2.3,1.3,2.9a2.1,2.1,0,0,0,2.9-.5c0.6-1-.2-2.5-0.4-3.6a24,24,0,0,1-.1-5.5c0.2-3.4,2-6.2,2.9-9.4s0.6-4.6,2.4-5.8,2.9-.6,4.2-0.6H97a28.8,28.8,0,0,0,5.4-.6,9.2,9.2,0,0,0,4.1-2.5c3-2.6,5.7-5.5,8.8-7.8a7.8,7.8,0,0,0,2.8-3.2c0.7-1.7.7-3.7,1.8-5.2S119,235.8,119.9,234.5Z', transform='translate(-8.4 -117.1)')
          path(fill='#fff', d='M311.6,256.5H104v-3H308.4c-0.7-7.1-4.4-36.7-21.3-66-11.3-19.6-26.3-35.1-44.4-46.3-22.7-14-50.6-21.1-82.8-21.1s-60,7.1-82.6,21.1c-18.1,11.2-33,26.7-44.3,46.3-16.9,29.3-20.6,59-21.3,66H57.5v3H8.4V255c0-.3,2.1-34.8,21.7-68.9,11.5-20,26.8-36,45.3-47.4,23.2-14.3,51.5-21.5,84.2-21.5s61.3,7.2,84.5,21.5c18.6,11.4,33.9,27.4,45.5,47.4,19.7,34,21.8,68.5,21.8,68.9v1.6Z', transform='translate(-8.4 -117.1)')
          path(fill='#fff', d='M84.5,285.5c3,4,5.4,7.4,9.1,3.9s6.3-10.2,9.1-14.7c1.7,3.8,7.2,7.6,8.1,11s-0.8,7.1-.9,9.5c-0.2,4.6-.3,9.1-0.7,13.7s-0.7,8.9-1,13.3-2.7,13.8-.9,18.3c1,2.4,6.5,4.4,9.2,2.4s-0.4-6.2-.9-9.1c-0.8-5.1-.5-9.9-0.3-15.1s0.6-8.2,3.7-12.3,6.2-4.9,6.6-8.3c1.3,3.7.2,7.7,0.2,11.4s1.6,8.6,2.8,12.9,2.9,7.6,3.4,11.5-1.5,7.5,2.9,9c11.8,4.1,4.1-9.7,2.5-14-3.3-8.7-4.5-16.3-.6-24.9,1.5-3.2,3.1-7.6,5.5-10.3s1.9-2.1,5.3-2.1l7,0.4c5.4,0.1,15.5-2.8,18.8,1.3,1,1.2,1.4,4.3,2.1,6s2,4.3,2.9,6.5,3,7.4,3.4,11.4-0.4,8.5,0,12.7c0.2,2.1.7,9.6,2.4,11s4.9,0.8,6.1.4c3.6-1.4,1.7-1.5.5-5.1s-1.4-9.4-1.3-14.1c0.3-10.1,2.1-20.5,1.6-30.6,1.9,13.3,3.8,26.6,5,39.9,0.3,3.5.1,14.1,7,10.4,4.1-2.2-1.2-11.4-1.5-15.6-0.4-6.9-.1-13.9,0-20.7s-0.6-13.8,2.4-18.9c6-10,19.7-14.2,24.4-24.8,2.7-6.1.9-12.4,1.6-18.8s1.8-1.4,7.1-1.9c16.3-1.7-2.2-17-1.1-23s9.7-5.4,9.7-12.6c0-5.6-2.6-3.6-6.9-3.2s-3-1.3-5.2-5.5c-3.9-7.4-11.5-5-10.5-15.5,0.4-4.6,1.7-8.1-1.4-12.1s-7-5.9-10.9-6.2c6.8,5.1,8.3,10,6.9,17.8-0.8,4.4-1.2,8.7,1.9,12.1s6,3.2,7.4,6.1,0.7,8.3-3.8,6.9-7-7.8-11.1-9.8-9.7-2.2-12.9-5.4-1.5-7.6-3.4-11.4c-3.9-7.8-18.7-11.2-26.3-13.5,6.3,6.7,17.7,8.2,19.8,18.3,0.9,4.2.1,7.1,3,10.5s7.2,6.6,11.1,7.1c-4.5,3-3.3,9,.3,12.3s7.5,3.6,5,9.2c-1.2,2.8-6.5,5.3-9.4,6.5-5.3,2.1-12.2-1.1-18.3-1.1s-10.6,3.4-16.5,6.9-16.4,2.2-23.3,2.5-15.3-.4-22.8.2S108,242.8,104,248.2s-5.9,13.8-9.9,20.5C91.4,273.3,83.5,279.9,84.5,285.5Z', transform='translate(-8.4 -117.1)')
.main-content
  .container
    .hero-text
      p Düsternbrook is the first guest farm in Namibia, located just north of Windhoek. Our guest farm is perfect for your first or last days in Namibia. We have 32 beds in total, subdivided in different price categories such as a suite, rooms, chalets and safari tents. Besides our rooms we offer various camping spots and activities like game drives and horse riding, also for day visitors.
      p Our guest farm is located on a mountain with a breath taking view overlooking a dry wide riverbed. The historical old farm house is built out of natural stone, in colonial style.

      .quick-links
        a.button.waves-effect.waves-light.button-link(href="https://goo.gl/maps/1TZxR8uF96B2", target="_blank") Virtual tour
        a.button.waves-effect.waves-light.button-link(href='rooms.html') View our rooms
        a.button.waves-effect.waves-light.button-link(href='cats-unlimited.html') Discover Cats Unlimited

  #impression
    .item
      img.lazyload(data-sizes="auto", src="content/img/small/reception.jpg", data-srcset='content/img/small/reception.jpg 200w, content/img/medium/reception.jpg 400w')
    .item
      img.lazyload(data-sizes="auto", src="content/img/blank.png", data-srcset='content/img/small/car-activities.jpg 200w, content/img/medium/car-activities.jpg 400w')
    .item
      img.lazyload(data-sizes="auto", src="content/img/blank.png", data-srcset='content/img/small/giraffes.jpg 200w, content/img/medium/giraffes.jpg 400w')
    .item
      img.lazyload(data-sizes="auto", src="/content/img/blank.png", data-srcset='/content/img/small/cats-unlimited.jpg 200w, /content/img/medium/cats-unlimited.jpg 400w')
    .item
      img.lazyload(data-sizes="auto", src="content/img/blank.png", data-srcset='content/img/small/01.jpg 200w, content/img/medium/01.jpg 400w')
    .item
      img.lazyload(data-sizes="auto", src="/content/img/blank.png", data-srcset='/content/img/small/mountain-drive.jpg 200w, /content/img/medium/mountain-drive.jpg 400w')
    .item
      img.lazyload(data-sizes="auto", src="content/img/blank.png", data-srcset='content/img/small/02.jpg 200w, content/img/medium/02.jpg 400w')
    .item
      img.lazyload(data-sizes="auto", src="content/img/blank.png",  data-srcset='content/img/small/08.jpg 200w, content/img/medium/08.jpg 400w')
    .item
      img.lazyload(data-sizes="auto", src="content/img/blank.png", data-srcset='content/img/small/14.jpg 200w, content/img/medium/14.jpg 400w')

  .section-green
    .container
      h2.section-title What wildlife can you find on our guest farm?
      .section-content
        p On our safari farm we have an abundant diversity of wildlife, such as giraffe, oryx, steenbok, cape eland, kudu, waterbok, zebra, baboon, cheetah, leopard and wildebeast. We offer special drives to see our cheetahs and leopards which live on our farm.
        p Very exiciting are the hippos which live around our dam. Stay at one of the chalets and connect with these animals from your own veranda.
        br
        .right
          <a target="_blank" style="background-color: #fff !important;color:#555 !important;padding: 10px !important;width: 100% !important;max-width: 200px !important;min-width: 170px !important;display: block !important;overflow: hidden !important;border: 1px solid #ccc !important;text-align: center !important;font-size: 11px !important;line-height:13px !important;font-family: open sans !important;text-decoration: none !important;" href="http://flyairlink.com/destinations/flights-to-windhoek"><img style="width:100% !important height: auto !important" src="http://flyairlink.com/partners/img/airlink-dark-logo.png">Flights between Windhoek and Cape Town</a>
        .clearfix
