.page-nav
  a.levelup(href='activities.html') Back to activities

.intro-header
  .content
    h1 Horse riding

.section-page
  p Experience the african wildlife from the back of a horse. The way to get up close and personal with animals such as kudu, oryx, zebra and giraffe.
 
  p Start your trip through Namibia with a few days of riding here on our farm. An experience you will not soon forget and far more intense then regular game viewing. No disrupt from the sound of car engines and you will make a new friend who will take you up close with the wildlife. Also because of the scent of horses, wildlife will be much more relax around your presence.
 
  p Picture yourself riding in the African landscape when the early morning sun is climbing the horizon and the wind blows through the tall grass. You will ride amongst mountains and dry riverbeds. When you come back from your ride you can relax by the pool, read a book or go for a hike. In the afternoon you can join our Cats Unlimited tour and see leopards and cheetahs from the safety of a car. Of course we will provide you with drinks and quality food from our European cuisine. Every night we serve a 3-course dinner family style. In the evening you can reflect the day and meet our other guests from all around the world. Good conversion!

.activity-slides
  .item
    img.lazyload(src="/content/img/blank.png", data-src='content/img/medium/horseriding-1.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='content/img/medium/horseriding-2.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='content/img/medium/horseriding-3.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='content/img/medium/horseriding-4.jpg')

.section-page
  h2 New: 3-day Horse riding package 
  p We have a special package to offer you. A special 3 day half-board riding package with an experienced local guide.
  
  p 
    strong What is included?
  
  ul.list--benefits
    li 3 nights at Düsternbrook guest farm in our kolonialhaus accommodation (upgrade to Felsenhaus accommodation for 8% surcharge)
    li Half board
    li 12 hours of riding with an experienced guide, divided over 3 days (2-4 riders)
    li 1 Leopard and cheetah feeding tour
    li 1 Game drive
    
  h4 Rates per person:
  ul.default
    li N$ 4.687,- (1-2 riders)
    li N$ 4.393,- (3 riders)
    li N$ 3.825,- (4 riders)
 
  p You can book a transfer from Windhoek or the airport separately to get to/from our guest farm (surcharge). Please note that we can also arrange a transfer to Swakopmund for you (Starting your round trip in Namibia with a rental after visiting Swakopmund can save you a few hundred euro/dollars, ask us for more information).
 
  p To able to cater for small groups of 2 to 4 riders we schedule starting days on tuesdays and fridays. You can arrive the day before. If this doesn’t suit you please let us know and we can see wat we can arrange to meet your requests.
 
  p 
    strong This is what your trip could look like:
 
  p 
    <strong> Day 1 (Mon/Thu):</strong> Individual arrival at Düsternbrook (this night is not included in the package) <br /> Transfer from the airport of hotel in Windhoek to the farm (transfer surcharge)
 
  p
    <strong>Day 2 (Tue/Fri): Start 3-day package </strong> <br /> Morning: Breakfast, meeting with the horses, light lunch at the farm. <br /> Afternoon: relaxing at the pool, possibly Cats unlimited tour, at the end of the afternoon riding for 1 or 2 hours, sundowner drink. <br />Evening: Dinner. <br /> (with this schedule you can also arrive on this morning)
 
  p
    <strong>Day 3 (Wed/Sat): Wildlife</strong> <br /> Morning: We start early in the morning with a 4-hour ride where we will meet the wildlife (breakfast stop included). <br /> Afternoon: Cooling down at the pool, lunch (optional), game drive and a hike to the dam until sundown. <br /> Evening: Dinner
    
  p
    <strong>Day 4 (Thu/Sun): The view from the mountains </strong> <br /> Breakfast on the farm, then a full day riding with lunch in the field. Today you can enjoy the Khomas Highlands and its wide views from the mountains. At the end of the day relax with a dinner.
    
  p
    <strong>Day 5 (Fri/Mon): Departure or extension</strong> <br /> Breakfast. Possibly you can ride for another 2 hrs if you haven't ridden all of the promsied hours the previous days. You can extend your stay with one more day or head to your next address. We can arrange a transfer to Windhoek, the airport or Swakopmund for you.
  
  p Are you an experienced rider, but your partner is not? No problem! Also for non-experienced riders we can cater. Besides riding we have game drives, big cats feeding tours, hiking trails, a pool, a library and you can rent a car to drive around our farm land. We also have WiFi available.
  
  p Late 2015 we will have finished our new long distance hiking trail to a campsite. We can also organise it in a way that one person is riding and the other person is hiking to this campsite (ca. 9km). You will then meet there. We can bring you a package with sleeping matt, tent, sleeping bag etc. by car. It can happen that something the trail is only accessible by foot due to circumstances. Contact us for more information and we can make you a tailor-made experience.
    
  p
    strong Can I also go out riding for one day?
  p If you do not want to book a package over 3 days you can also just book horse riding from the house as one of our activities per 1.5hr units. Prices: see pricelist.
  
  .center.margin-top-m
    a.book.js-book-activity(href='#') Book this activity
