.page-nav
  a.levelup(href='rooms.html') Back to accommodation
  
.intro-header
  .content
    h1 Katrin luxury suite
    .subtitle The suite has a beautiful terrace overlooking the riverbed, comfortable seating with a fireplace indoor and is tasteful decorated. There is a small kitchenette and spacious walk-in shower.


.section-page
  p This suite is build on a very beautiful spot overlooking the dry riverbed. From the terrace you can overlook the wide landscape in your own privacy. On the opposite side of the room, you will have a second terrace at your disposal. So either in winter or summer you can choose to enjoy the sun or avoid the heat if you like. 
  p The suite has a kingsize double bed and is build and decorated with local materials. For the winter there is a fireplace with natural stones decorating it. There is a small kitchenette with a counter, a washbasin, a coffee machine, fridge, a small microwave oven and some cutlery. This way you can make small dishes and breakfast if you like.
  p There is a modern walk-in shower, separate toilet and washbasin with hairdryer. The room also has limited air-conditioning. It is limited to certain fixed hours which is not manually adjustable (because of our limited power usage).
  br 
  p.center Have a look inside the room
  .center
    a.book(href='https://goo.gl/maps/XSyMNiWu9hk', target="_blank") Virtual tour 
  br 
.section-page
          
  #gallery.gallery
  
    - for (var i = 1; i < 13; ++i) 
      a.gallery__item(href='content/img/#{pageslug}/original/#{i}.jpg')
        img.lazyload(src="content/img/blank.png", data-src='content/img/#{pageslug}/small/#{i}.jpg')   
