.page-nav
  a.levelup(href='rooms.html') Back to accommodation
  
.intro-header
  .content
    h1 Colonial house

.section-page
  p In our carefully renovated outbuildings we have created 3 guest rooms, decorated in charming colonial style. The rooms have a double bed, en-suite bathroom and share a beautiful garden with a large veranda. The rooms have a coffee/tea maker, wardrobe and a small desk. One room has one extra single bed. One room has two extra single beds. These extra beds are in a separate part of the room, so it is ideal for families with children.
  br 
  p.center Have a look inside the room
  .center
    a.book(href='https://goo.gl/maps/RQyXiDcFfZ62', target="_blank") Virtual tour 
  br


.section-page
            
  #gallery.gallery

    - for (var i = 1; i < 13; ++i)
      a.gallery__item(href='/content/img/' + pageslug + '/original/' + pageslug + i + '.jpg')
        img.lazyload(src='/content/img/blank.png', data-src='content/img/' + pageslug + '/small/' + pageslug + i + '.jpg')