.intro-header
  .content
    h1 Accommodation

    .subtitle Our safari lodge is centrally situated in Namibia and an ideal venue not only for your first and last nights in Namibia but also to rest for a few days between the northern and southern parts of your Namibian tour. Guest Farm Düsternbrook is not big.
    .subtitle For the individual traveller (no busses) we offer, in carefully renovated buildings, seperate and individually furnished guest rooms. All guest rooms have a comfortable double bed and ensuite bathroom with solar heated showers.
      
section.teasers.teasers--rooms
  
  a.teaser.teaser-room(href='katrin-luxury-suite.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/medium/room-katrin-suite.jpg')
      .teaser__content
        h2 Katrin luxury suite
        p Spacious suite with fireplace, and balcony with beautiful view

  a.teaser.teaser-room(href='felsenhaus.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/medium/felsenhaus03.jpg')
      .teaser__content
        h2 Felsenhaus
        p Comfortable rooms with private terrace overlooking our riverbed. 

  a.teaser.teaser-room(href='africa-room.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/small/africaroom@2x.jpg')
      .teaser__content
        h2 Africa room
        p Tastefully decorated in african style. Ensuite bathroom and double bed.
        
  a.teaser.teaser-room(href='kolonialhaus.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/medium/kolonialhaus06.jpg')
      .teaser__content
        h2 Kolonialhaus
        p Close to the main house we have 3 guest rooms decorated in charming colonial style.

  a.teaser.teaser-room(href='safari-tents.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/medium/safaritents01.jpg')
      .teaser__content
        h2 Safari tents
        p Enjoy your stay in nature with the comfort of a proper bed and ensuite bathroom.

  a.teaser.teaser-room(href='chalets.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/medium/chalet02.jpg')
      .teaser__content
        h2 Chalets
        p Situated in the middle of the game reserve, self catering basic chalets.

  a.teaser.teaser-room(href='damahaus.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/medium/dama-house.jpg')
      .teaser__content
        h2 Dama house
        p Ideal for a family with children or longer stays. 2 rooms, kitchenette and enclosed terrace.
        
  a.teaser.teaser-room(href='camping.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/medium/fenced-camping-windhoek03.jpg')
      .teaser__content
        h2 Camping
        p For campers we offer an enclosed site and open spots along the riverbed.

  a.teaser.teaser-room(href='swakopmund-offer.html')
    .teaser__wrapper
      .teaser__image
        img(src='content/img/medium/swakopmund-offer.jpg')
      .teaser__content
        h2.special-offer SPECIAL OFFER
        p Book 3 days Düsternbrook and get a free stay in our Swakopmund apartment!
