.intro-header
  .content
    h1 Unterkunft

    .subtitle Unsere zentral in Namibia (nahe Windhoek/Flughafen) gelegene Safari Lodge ist nicht nur ein idealer Aufenthaltsort für die ersten und/oder letzten Nächte in Namibia, sondern auch, um sich ein paar Tage zu erholen, bevor die Reise in den nördlichen oder südlichen Teil Namibias weitergeht.
    
    .subtitle Für Individualreisende und kleine Gruppen (keine Busse) bieten wir in separaten Gebäuden untergebrachte und individuell eingerichtete Gästezimmer mit komfortablen Doppelbetten und direkt angeschlossenen Badezimmern mit solarbeheizten Duschen.
      
section.teasers.teasers--rooms
  
  a.teaser.teaser-room(href='katrin-luxury-suite.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/medium/room-katrin-suite.jpg')
      .teaser__content
        h2 Katrin Luxury Suite
        p Geräumige Suite mit Kamin und Balkon mit schöner Aussicht

  a.teaser.teaser-room(href='felsenhaus.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/medium/felsenhaus03.jpg')
      .teaser__content
        h2 Felsenhaus
        p Komfortable Zimmer mit privater Terrasse und Blick auf unser Flussbett. 

  a.teaser.teaser-room(href='afrika-zimmer.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/small/africaroom@2x.jpg')
      .teaser__content
        h2 Afrika Zimmer
        p Geschmackvoll im afrikanischen Stil eingerichtetetes Doppelzimmer.
        
  a.teaser.teaser-room(href='kolonialhaus.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/medium/kolonialhaus06.jpg')
      .teaser__content
        h2 Kolonialhaus
        p Nahe dem Haupthaus haben wir 3 Zimmer im charmanten Kolonialstil eingerichtet.

  a.teaser.teaser-room(href='safari-zelte.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/medium/safaritents01.jpg')
      .teaser__content
        h2 Safari Zelte
        p Genießen Sie Ihren Aufenthalt in der Natur mit dem Komfort eines richtigen Bett und eigenem Bad.

  a.teaser.teaser-room(href='chalets.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/medium/chalet02.jpg')
      .teaser__content
        h2 Chalets
        p Im Herz unserer the game reserve, selbstversorger basic Chalets.

  a.teaser.teaser-room(href='damahaus.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/medium/dama-house.jpg')
      .teaser__content
        h2 Damahaus
        p Ideal für eine Familie mit Kindern oder längere Aufenthalte. 2 Zimmer, Küche und geschlossene Terrasse.
        
  a.teaser.teaser-room(href='camping.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/medium/fenced-camping-windhoek03.jpg')
      .teaser__content
        h2 Camping
        p Für Camper bieten wir einen geschlossenen Platz an offenen Stellen entlang des Flussbettes.

  a.teaser.teaser-room(href='swakopmund-offer.html')
    .teaser__wrapper
      .teaser__image
        img(src='/content/img/medium/swakopmund-offer.jpg')
      .teaser__content
        h2.special-offer SONDERANGEBOT
        p Buchen Sie 3 Tage Düsternbrook und erhalten einen kostenlosen Aufenthalt in unserem Swakopmund Apartment!
