.page-nav
  a.levelup(href='zimmer.html') Zurück zur Unterkunft
  
.intro-header
  .content
    h1 Safari Zelte

.section-page
  p Etwas weiter entfernt vom Haupthaus ungefähr 150 m, neben dem Campingplatz am Trockenflussbett, befinden sich unsere beiden Safari Zelte, die etwa 30 m auseinander liegen. Die zimmergrossen Zelte sind jeweils mit zwei twin Betten mit gemeinsamen Kopfstück und einem Schrank ausgestattet und jedes verfügt über ein aus Naturstein erbautes, direkt angeschlossenes Badezimmer.

.section-page
          
  #gallery.gallery
  
    - for (var i = 1; i < 8; ++i)
      a.gallery__item(href='/content/img/' + pageslug + '/original/' + pageslug + i + '.jpg')
        img.lazyload(src='/content/img/blank.png', data-src='/content/img/' + pageslug + '/small/' + pageslug + i + '.jpg')
