.intro-header
  .content
    h1 Unsere Leistungen
    .subtitle Wir haben ein wunderschön gelegenes altes Bauernhaus mit historischem Ambiente, familiäre Atmosphäre und ein fantastischer Blick auf die afrikanische Savanne und ein Flussbett. Auf der Gästefarm Düsternbrook finden Sie eine freundliche und entspannte Atmosphäre und fühlen Sie sich bei unserer individuellen Betreuung wie zu Hause.

.section-page
  ul.default
    li Wir haben einen großen Pool mit Palmen und einer Strohgedeckten Lapa mit kleine Bar und Aussichtsplatform zum Wildbeobachten mit Blick aufs Flussbett.
    li Das Frühstück für unsere Übernachtungsgäste wird auf der Veranda serviert. Das Frühstück in Buffetform erfüllt westeuropaïsche Standards.
    li Wir bieten mehrere Mittagessen-Optionen wie Salate und frische Sandwiches mit selbstgebackenem Farmbrot. Für warme Mahlzeiten bitten wir Sie um eine Buchung im Voraus (oder noch am selben Tag vor 11 Uhr) zu machen. (Das Mittagessen ist nicht in Package-Preisen inbegriffen).
    li Unser Abendessen wird in Familiärem Stil angeboten in der Lapa (Sommer) oder unserem Esszimmer mit Kamin (Winter) angeboten. Wir bieten ein Drei-Gänge-Abendessen, das jeden Tag variiert und ein festes Menü ist. Sie können als Hauptgericht auf europäischem Standard Fisch oder Fleisch (frisch aus der eigenen Landwirtschaft), Gemüse und Reis / Kartoffeln / Nudeln erwarten. 
    li Auf Wunsch organisieren wir Transfers vom Internationalen Flughafen (90 km) oder Windhoek (50 km) auf Gästefarm Düsternbrook und zurück.
    
.section-page    
  p Entdecken Sie die folgenden Gebiete in einem virtuellen Tour:
  .quick-links
    a.button.waves-effect.waves-light.button-link(href="https://goo.gl/maps/hR7LErj2wu52", target="_blank") Bar &amp; Pool
    a.button.waves-effect.waves-light.button-link(href="https://goo.gl/maps/6XGdy8M3XgM2", target="_blank") historische Farmhaus
    a.button.waves-effect.waves-light.button-link(href="https://goo.gl/maps/qxMLsr3t8by", target="_blank") Lapa

.activity-slides
  .item
    img.lazyload(src="/content/img/blank.png", data-src='/content/img/medium/10.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='/content/img/medium/15.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='/content/img/medium/17.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='/content/img/medium/66.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='/content/img/medium/83.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='/content/img/medium/87.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='/content/img/medium/89.jpg')
  .item
    img.lazyload(src="/content/img/blank.png", data-src='/content/img/medium/reception.jpg')

.section-page
  h4 Individualtourismus
  p Unsere Gästefarm ist eingerichtet für Individualreisende. Dies bedeutet, dass Sie keine großen Busse mit Touristen auf unserem Hof finden. Der Aufbau und die Dekoration, die Sie auf dem Hof sehen, sind meist aus lokalen Materialien gefertigt oder mit einem historischen Ambiente. Wir haben bewusst einen kolonialen Stil gewählt, um unseren Gästen ein Gefühl der alten Tage in Namibia zu geben.
  h4 Nachhaltigen Tourismus
  p Eine weitere wichtige Tatsache, ist dass wir unsere Auswirkungen auf die Umwelt sehr ernst nehmen. Wir haben für nachhaltige Lösungen am ganzen Geräte ausgewählt, einschließlich Konstruktion und Anlagen. Dies bedeutet, Mechanismen der Wasserverbrauch, erneuerbare Energien, Abfalltrennung usw. Wir möchten unsere Gäste fragen auch bewusst zu sein dass Namibia immer noch ein Land der Dritten Welt ist und Wasser sehr knapp ist.
  p Nachdem sich Düsterbook im 1986 von einer Rinderfarm zu einer Wildfarm gewandelt hat, haben wir zahlreiche Wildarten wie Strauße, Giraffen und Zebras wieder eingeführt, die in vorkolonialen Zeiten schon hier gewesen war. Heute tun sich Tiere wie Wasserböcke und Impalas auch sehr leicht, da wir viele Wasserressourcen, wie Dämme haben.
       
  h4 Gründe für den Gästefarm Düsternbrook zu wählen
  ul.list--benefits
    li Wir sind zentral zu allen touristischen Attraktionen in Namibia gelegen.
    li Wir sind in der Nähe (50km) von Windhoek und dem internationalen Flughafen (90km), aber nach wenigen Kilometern sind Sie schon mitten in der Natur. Namibia ist eines der am wenigsten dicht besiedelten Ländern der Welt, so sind Sie uns bereits im Busch mit sehr guter Tierwelt.
    li Es ist eine Gästefarm (Bauernhof), mit einer atemberaubenden Aussicht, die mehrere Auszeichnungen, darunter den 2015 Eco Award erhalten hat. Wir sind dabei unseren Service ständig zu verbessern, wir bieten Ihnen ein gutes Preis-Leistungs-Verhältnis und wir sind die besten für den individuellen Reisenden.
    li Als Besucher auf einer Gästefarm unterstützen Sie die lokale Wirtschaft (Schaffung von Arbeitsplätzen) und werden Teil eines Naturschutzprogramms. Die natürliche Tierwelt und gefährdete Spezies brauchen Ihre Unterstützung. Jede zusätzliche Unterstützung, die Sie durch eine Spende der Cats Unlimited Wildlife Foundation geben können, ist willkommen. Wir möchten diese Mittel für die Leopardenforschung im Khomashochland-Bezirk verwenden.
