.page-nav
  a.levelup(href='rooms.html') Back to accommodation
  
.intro-header
  .content
    h1 Free stay in our Swakopmund apartment
    .subtitle Book 3 days (does not have to be consecutive days) in a room on our guest farm based on full-inclusive board, you will get 2 days in our centrally located apartment in Swakopmund for free.

.section-page
  h4 Terms:
  ul.default 
    li Bookings for safari tents and chalets are not valid for this deal, only our normal rooms. 
    li Full-inclusive means including dinner, breakfast, Cats Unlimited tour and game drive as listed on our rates list.
    li The cleaning fee is € 30,- per stay.
  
  img(src='content/img/swakopmund.jpg') 
  br
  br
  h4 The apartment in Swakopmund is very centrally situated and offer the following:
  ul.list--benefits
    li Everything accessible by foot: 5 min to the supermarket, 3 min to the beach, 7 min to city centre.
    li With all the activities you plan you can be pick up from the apartment.
    li You can travel comfortably from the farm to Swakopmund with a shuttle and be dropped off directly at the apartment.
    li You can comfortable cater for yourself.
    li You do not need to drive "left" straight away, before you have arrived and have rested. 

  h6 How does this work for us? an example:
  p 5 days with a rented car, when the car is scarcely used. For example we can pick you up at the airport and bring you to the farm. You will spend 3 days here and rest from your flight. Then you will drive with an organised shuttle to Swakopmund. In Swakopmund you will spend 2 or more days and from here you will rent a 4x4 rental to explore Namibia further. With a 4x4 rental you save about € 500,-.
  
  h4 More advantages
  ul.list--benefits
    li You combine the 3 days on the farm as you like. For example you stay one day at the beginning of your stay on the farm and at the end of your holiday again two days.
    li You can also extend your stay, also in Swakopmund. The fee for the apartment depends on the season. During the year except December 12th to January 12th the price is N$ 250,00 per person per night (minimum stay is 2 days).

.section-page
          
  #gallery.gallery
  
    - for (var i = 1; i < 5; ++i) 
      a.gallery__item(href='content/img/swakopmund/original/swakopmund#{i}.jpg')
        img(src='content/img/swakopmund/small/swakopmund#{i}.jpg') 
  
  .center.margin-top-m
    a.book.js-book-deal(href='#') Book this deal
