#primary-nav.off-canvas
  .nav-inner-wrap

    %h2.element-invisible Primary navigation
    %nav.main-menu{:role => "navigation"}
      %ul.menu
        - for item in data.navigation.mainmenu
          %li.menu-item
            %a.menu-link{:href => "#"}= I18n.t(item.toplevel)
            - if item.submenu
              %ul.menu
                - for subitem in item.submenu
                  %li= subitem.sublevel

