- var page = "Aktivitaten"

doctype html
html(lang="en")
  head
    include ../partials/_head.pug
  body.page--overview
    include ../partials/_header-de.pug
    main
      include ../content/activities-de.pug
    
    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
  
