- var page = "Camping"
- var form = true
- var gallery = true
- var gallery2 = true
- var rate1 = "N$ 801.00"
- var rate2 = "N$ 801.00"
- var rate3 = "N$ 825.13"
- var rate4 = "N$ 771.00"
- var rate5 = "N$ 771.00"
- var rate6 = "N$ 795.00"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      include ../content/camping-de.jade
      include ../content/camping-rates-de.jade
      include ../partials/_reservation-de.jade
    
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
