- var page = "Cats Unlimited"
- var form = true

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      include ../content/cats-unlimited-de.jade
      include ../partials/_book-activity-de.jade
    
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
  
