- var page = "Damahaus"
- var pageslug = "damahaus"
- var form = true
- var gallery = true
- var german = true

//- Bed and breakfast
- var rate1 = "N$ 589.93"
- var rate2 = "N$ 1063.00"
- var rate3 = "N$ 997.00"
- var rate4 = "N$ 997.00"

//- Dinner, bed and breakfast
- var rate5 = "N$ 1006.00"
- var rate6 = "N$ 1314.00"
- var rate7 = "N$ 1281.95"
- var rate8 = "N$ 1281.95"

doctype html
html(lang="de")
  head
    include ../partials/_head.pug
  body.page--basic
    include ../partials/_header-de.pug
    main
      include ../content/damahaus-de.pug
      include ../content/room-rates-de.pug
      include ../partials/_reservation-de.pug

    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
