- var page = "Eco award"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main.with-sidebar
    
      .secondary-navigation
        .content
          .form-item.hidden-desktop
            label.form-label Über Düsternbrook
            .form-select
              select.no-icon(name='secondary-nav', onchange="if (this.value) window.location.href=this.value")
                option(value='geschichte.html') Geschichte 
                option(value='wildnutzung.html') Wildnutzung
                option(value='was-ist-eine-gaestefarm.html') Was ist eine Gästefarm?
                option(value='wildlife-fotografie-namibia.html') Professionelle Fotografie
                option(value='eco-award.html', selected='selected') Eco-award program
                option(value='links.html') Links
          .only-desktop
            label.menu-label Über Düsternbrook
            ul.menu
              li 
                a(href='geschichte.html') Geschichte
              li
                a(href='wildnutzung.html') Wildnutzung
              li
                a(href='was-ist-eine-gaestefarm.html') Was ist eine Gästefarm?
              li
                a(href='wildlife-fotografie-namibia.html') Professionelle Fotografie
              li
                a.active(href='eco-award.html') Eco-award program             
              li
                a(href='links.html') Links
                
    
      .content-with-left-sidebar
        .intro-header
          .content
            h1 Eco Award Namibia auf Düsternbrook
            
        .section-page
          :markdown
            Tourismus ist eine der am schnellsten wachsenden Industrien in der Welt und wie bei allen anderen Wirtschaftstätigkeiten gibt es zwei Seiten. Auf der einen Seite bringt Tourismus Arbeitsplätze, Devisen und Kapital für Natur- und Artenschutz-Projekte und auf der anderen Seite produziert Tourismus Müll, verwendet Ressourcen und verursacht Sozial- und Umweltkosten. 
            
            Wegen diesen möglichen negativen Einflüssen drängt die Weltkommission für nachhaltige Entwicklung alle Länder gegen ungesetzliche, beleidigende und ausbeuterische Reiseaktivitäten zu arbeiten, indem sie Wege finden die negativen Einflüsse zu minimieren und die positiven Einflüsse des Tourismus zu unterstützen. Die Welttourismus-Organisation (WTO) hat daraufhin empfohlen, dass jedes Land sein eigenes Programm für nachhaltigen Tourismus ins Leben rufen sollte. Im Jahr 2005 erschuf Namibia daraufhin die gemeinnützige Organisationden "Eco Award Namibia", die nachhaltige Entwicklung mit dem Ziel fördert, mehr Bewusstsein für die Umwelt zu schaffen und dabei auch Beschäftigung und Training des lokalen Personals nicht ausser acht zu lassen. Das bedeutet nicht nur Arbeitsplätze zu schaffen, sondern auch den Lebensstandard für die folgenden Generationen zu erhöhen. 
            
            Die gesamte Bandbreite an Unterkunftsbetreiben im weitesten Sinn von Campingplätzen bis zu Hotels können sich für diesen Award bewerben. Abhängig von der Anzahl der Punkte, die sie in den geprüften Gebieten - Natur- und Artenschutz, Wasser-, Abfall- und Energiemanagement, Bau und Landschaft, Guiding, Personalentwicklung und Soziale Verantwortung - erzielen, haben sie die Möglichkeit maximal 5 Blumen zu bekommen. Beispielsweise achten die Prüfer darauf, welche Energiesparmaßnahmen praktiziert und ob natürliche Baumaterialien, wie z.B. Naturstein verwendet werden. Ein weiteres Kriterium ist, ob Personen aus der lokalen Bevölkerung angestellt und wie sie ausgebildet werden. Es müssen also eine Vielzahl an Kriterien erfüllt werden, um den Eco Award zu erhalten. 
            
            Hier auf Düsternbrook haben wir lange vor 2005 angefangen, am nachhaltigen Tourismus zu arbeiten und so gelang es uns bereits im ersten Jahr (2005) 3 von 5 Blumen zu erzielen. Bei der Überprüfung im Jahr 2007 konnten wir das Niveau halten und erhielten wiederum 3 Blumen. Anreiz genug um uns in diesem Gebiet noch weiter zu verbessern. Wir sind sind sehr stolz darauf, dass sich unsere Bemühungen gelohnt haben und wir bei der erneuten Überprüfung Ende 2008 und 2012 unser Ziel erreicht und die angestrebten 4 Blumen erhalten zu haben. Wir gehören damit zu einem sehr kleinen Kreis an Unterkünften in ganz Namibia (2 bis 3), die 4 Blumen erhalten haben und unter den Gästefarmen sind wir sogar (bis jetzt) die Einzigen. 
            
            Wir sind bestrebt, nachhaltigen Tourismus in allen Gebieten zu fördern und unser Ziel ist es, die Sozial- und Umweltkosten zu reduzieren und die Vorteile zu maximieren. 
            
            Auf Düsternbrook erkennen und respektieren wir die Tatsache, dass wir eine Verantwortung gegenüber der Natur haben und wir beabsichtigen Ressourcen zu erhalten, die lokale Gemeinschaft zu entwickeln und schützen und unseren ökologischen Fußabdruck zu minimieren. 
            
            Diese kleine Einführung mit nur einigen Beispielen hat Ihnen hoffentlich etwas Einblick in unsere Tätigkeiten in diesem Bereich gegeben. 
        
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
