- var page = "Eco award"

doctype html
html(lang="de")
  head
    include ../partials/_head.pug
  body.page--basic
    include ../partials/_header-de.pug
    main.with-sidebar
    
      .secondary-navigation
        .content
          .form-item.hidden-desktop
            label.form-label Über Düsternbrook
            .form-select
              select.no-icon(name='secondary-nav', onchange="if (this.value) window.location.href=this.value")
                option(value='geschichte.html') Geschichte 
                option(value='wildnutzung.html') Wildnutzung
                option(value='was-ist-eine-gaestefarm.html') Was ist eine Gästefarm?
                option(value='wildlife-fotografie-namibia.html') Professionelle Fotografie
                option(value='eco-award.html', selected='selected') Eco-award program
                option(value='links.html') Links
          .only-desktop
            label.menu-label Über Düsternbrook
            ul.menu
              li 
                a(href='geschichte.html') Geschichte
              li
                a(href='wildnutzung.html') Wildnutzung
              li
                a(href='was-ist-eine-gaestefarm.html') Was ist eine Gästefarm?
              li
                a(href='wildlife-fotografie-namibia.html') Professionelle Fotografie
              li
                a.active(href='eco-award.html') Eco-award program             
              li
                a(href='links.html') Links
                
    
      .content-with-left-sidebar
        .intro-header
          .content
            h1 Eco Award Namibia auf Düsternbrook
            
        .section-page
          <p style="text-align:right;">
            <em>letzte Update: 5 Jun 2016</em>
          </p>

          :markdown-it(html)
            ## Einleitung
            Tourismus ist eine der am schnellsten wachsenden Industrien in der Welt und wie bei allen anderen Wirtschaftstätigkeiten gibt es zwei Seiten. Auf der einen Seite bringt Tourismus Arbeitsplätze, Devisen und Kapital für Natur- und Artenschutz-Projekte und auf der anderen Seite produziert Tourismus Müll, verwendet Ressourcen und verursacht Sozial- und Umweltkosten.
            
            Wegen diesen möglichen negativen Einflüssen drängt die Weltkommission für nachhaltige Entwicklung alle Länder gegen ungesetzliche, beleidigende und ausbeuterische Reiseaktivitäten zu arbeiten, indem sie Wege finden die negativen Einflüsse zu minimieren und die positiven Einflüsse des Tourismus zu unterstützen. Die Welttourismus-Organisation (WTO) hat daraufhin empfohlen, dass jedes Land sein eigenes Programm für nachhaltigen Tourismus ins Leben rufen sollte. Im Jahr 2005 erschuf Namibia daraufhin die gemeinnützige Organisationden "Eco Award Namibia", die nachhaltige Entwicklung mit dem Ziel fördert, mehr Bewusstsein für die Umwelt zu schaffen und dabei auch Beschäftigung und Training des lokalen Personals nicht ausser acht zu lassen. Das bedeutet nicht nur Arbeitsplätze zu schaffen, sondern auch den Lebensstandard für die folgenden Generationen zu erhöhen.

            Die gesamte Bandbreite an Unterkunftsbetreibern von Campingplätzen bis zu Hotels können sich für diesen Award bewerben. Abhängig von der Anzahl der Punkte, die sie in den geprüften Gebieten - Natur- und Artenschutz, Wasser-, Abfall- und Energiemanagement, Bau und Landschaft, Guiding, Personalentwicklung und Soziale Verantwortung - erzielen, haben sie die Möglichkeit maximal 5 Blumen zu bekommen. Beispielsweise achten die Prüfer darauf, welche Energiesparmaßnahmen praktiziert und ob natürliche Baumaterialien, wie z.B. Naturstein verwendet werden. Ein weiteres Kriterium ist, ob Personen aus der lokalen Bevölkerung angestellt und wie sie ausgebildet werden. Es müssen also eine Vielzahl an Kriterien erfüllt werden, um den Eco Award zu erhalten, die alle zwei Jahre überprüft werden

            Hier auf Düsternbrook haben wir lange vor 2005 angefangen, am nachhaltigen Tourismus zu arbeiten. Es gelang uns bereits im ersten Jahr (2005) 3 von 5 Blumen zu erzielen. 2007 erhielten wir wiederum 3 Blumen. Wir haben uns verbessert, bei der erneuten Überprüfung Ende 2008 und auch 2012 haben wir dann 4 Blumen erhalten und endlich anfang 2015 haben wir 5 Blumen erhalten. Damit gehören wir zu einem sehr kleinen Kreis in Namibia die 5 Blumen erhalten haben und sind als bisher einzige Gästefarmen das Kleinste Unternehmen unter den grossen Lodges wie Wilderniss und Godwana.

            Wir sind bestrebt, nachhaltigen Tourismus in allen Gebieten zu fördern und unser Ziel ist es, die Sozial- und Umweltkosten zu reduzieren und die Vorteile zu maximieren.

            Auf Düsternbrook erkennen, respektieren und leben die Verantwortung gegenüber der Natur.  Wir beabsichtigen Ressourcen zu erhalten, die lokale Gemeinschaft zu entwickeln und schützen und unseren ökologischen Fußabdruck zu minimieren.

            Diese kleine Einführung hat Ihnen hoffentlich etwas Einblick in unsere Tätigkeiten in diesem Bereich gegeben. Ausführliche Information über unsere Aktivitäten in den geprüften Gebieten des Eco Awards finden Sie im Folgenden:

            NICHTS ist hier so perfekt, wie Sie es vielleicht von Europa gewohnt sind. Alles was wir hier tun ist ein Kompromiss aus: Verfügbares Wissen, Zeit (prioritätsgesteuert in Bezug auf ALLE hier auf der Farm anfallenden Tätigkeiten), Resourcen und unserem personellen Umfeld mit verschiedenen Ausbildungsniveaus.
            <br />
            <br />  
            
            
            ## Wasser-, Abfall- und Energiemanagement
            
            Auf Düsternbrook wird Wasser-, Abfall- und Energiemanagement sehr groß geschrieben. Wir informieren unser Personal über die Wichtigkeit dieser Bereiche in regelmäßigen direkten Gesprächen und unsere Gäste durch zahlreiche Hinweise und Informationen in den Gästezimmern und in unserem Informationszentrum.

            Wasser ist der wertvollste Bodenschatz in Namibia. Wir sind das trockenste Land südlich der Sahara und deshalb ist Wassermanagement von grösster Wichtigkeit!

            In Namibia verdampft 80 % des Regens sofort, 15 % wird von den Wurzeln aufgesaugt und verdampft durch die Blätter, 2-3 % fließt in die Flüsse und NUR 1 % versickert im Boden und kann somit wieder teilweise für die Wasserversorgung verwendet werden. Unsere Hauptquelle für Wasser für das Farmhaus ist ein 70 Meter tiefes Bohrloch mit einer elektrischen Pumpe. Diese Pumpe schaltet sich automatisch nach 20 Minuten ab, damit nicht ständig unnötig Wasser überläuft, wenn das Abschalten mal vergessen wurde. Ausserdem befindet sich auch noch ein Windmotor am Haus. Alle Aussenposten auf der Farm werden mit Dämmen (kleine Talsperre) und Windmotoren betrieben. Wir kontrollieren und erfassen regelmäßig unseren Wasserverbrauch und versuchen, dass er innerhalb der Saisondurchschnitte bleibt. Die Bewässerung vom Garten findet über ein zeitgeschaltetes Sprinkler-System in den frühen, kühlen Morgenstunden statt. Auf diese Weise können wir in kontrollierten Mengen bewässern und die Verdunstungsrate des Wassers gering gehalten. 

            Zwischen dem anfallenden Abfall der zunehmender Bevölkerung, Tourismusaufkommen und Verbrauchern besteht ein direkter Zusammenhang. Ziel unseres Abfallmanagements ist es, die negativen Einflüsse auf die Umwelt durch touristische Aktivitäten und Farmtätigkeiten durch Abfall-, Boden- oder Grundwasserverschmutzung zu verhindern. Reduce, re-use und recycle sind gängige Begriffe mit denen wir seit Jahren arbeiten. Auf Düsternbrook sammeln wir folgenden Müll der recycelt werden kann: Papier, Karton, Dosen und Konserven, Hartplastik, Weichplastik und Glas. Das gesammelte Recyclingmaterial bringen wir einmal wöchentlich zum Recyclingzentrum nach Windhoek, wo es aufbereitet und dann zur Wiederverwertung nach Südafrika transportiert wird. Wussten Sie, dass durch die Wiederverwertung einer Getränkedose so viel Energie gespart wird, dass damit ein Fernseher für drei Stunden betrieben werden könnte? Weiterhin verwenden wir leere Gläser wieder für die selbstgemachte Marmelade, Umschläge werden als Trennstreifen verwendet, einseitig bedrucktes Papier wird für interne Internetausdrücke verwendet und der größte Teil unserer Lebensmittelreste wird als Hühnerfutter der Arbeiter eingesetzt. Alle Abwässer (Toilette, Dusche, Küche) fließen in ein eigenes Abwassersystem, wo es in drei Kammern biologisch (anaerobisch) gereinigt wird. 2008 haben wir dieses System um einen Trickling-Filter (aerobisch) erweitert, damit wir das Abwasser in Zukunft für die Gartenbewässerung wieder verwenden können. Durch diese Wiederaufbereitung erhoffen wir uns eine Wasserersparnis zwischen 30 % bis 40 % weil der Garten im Sommer eben viel Wasser verbraucht. Stromkosten werden dabei leider nicht gespart.

            Jede Methode der Energieproduktion hat verborgene Kosten für die Umwelt, manche mehr, manche weniger. Wir versuchen deshalb auf Düsternbrook den Gebrauch von bekannt umweltunfreundlichen Energiequellen zu beschränken und verwenden soweit wie möglich (das ist auch eine Kostenfrage), alternative Quellen, die erneuerbar und umweltfreundlicher sind z.B.

            <ul class="list--benefits">
              <li>Warmwasser wird durch Solarenergie erhitzt.</li>
              <li>  Energiesparlampen oder LED werden wo immer es möglich ist, eingesetzt.</li>
              <li> Zur Förderung des Wassers aus tief liegenden Wasseradern nutzen wir Windkraft.</li>
              <li> Wir kochen mit Gas.</li>
              <li> Und beim Häuserbau begünstigen wir dicke Steinwände, Vordächer und gegenüberliegende Fenster zur natürlichen Temperaturregulierung.</li>
              <li>Seit 2010 haben wir eine photovoltaische Solaranlage auf dem Dach, um im Laufe des Tages selber Strom erzeugen zu können. Messungen über die letzten 2 Jahre haben ergeben, dass wir damit ca. 20% Strom sparen.</li>
            </ul>
            <br />

            ## Natur- und Artenschutz

            Der Natur- und Artenschutz ist (ziemlich einmalig auf der Welt) im namibianischen Grundgesetz festgeschrieben. Wir haben hier verschiedenste Arten von wilden Pflanzen, Tieren und Insekten, die einheimisch oder hier endemisch sind. Jeder und jeglicher Verlust davon hat seine Folgen. Wenn auch nur eine dieser Arten verloren geht, werden Funktionen gestört, von denen man noch nicht genau, weiss wie die Natur das kompensiert. Sicher scheint zu sein, das extreme Veränderungen des Gleichgewichts unübersehbare Folgen hat. Besser ist es also zu versuchen die natürliche Balance zu halten, ob bei Tierwelt oder beim CO2 Ausstoss.
            
            Auf Düsterbrook möchten wir natürlich die Vielfalt der Natur erhalten um den natürlichen Lebensraum wildlebender Populationen zu schützen. Wir sind deshalb Mitgliedern der Khomas Hochland Conservancy und vom Grünen Gürtel von Windhoek. ( Windhoek Greenbelt Landscape) WGBL.

            WGBL resultiert seit 2012 aus einer neuen Entwicklung genannt NAM-PLACE. Der Anstoß dieser Entwicklung wird international durch den Global Enviroment Facilty gefördert und geht über das UNDP (United Nations Development Programme) und unser Ministerium für Tourismus und Naturschutz. Ziel ist es das man durch bestimmte Massnahmen sich besser schützen kann gegen die globale Erwärmung die sich als Folge bei uns durch weniger Regen Bemerkbar macht. Gleichzeitig soll das spezifische Biotop dieser Gegend  geschützt werden. Es ist zunächst ein Pilotprojekt in der nähe von vorhandenen Naturschutzparks.Hiervon gibt es fünf Gebiete in Namibia und eines davon heißt Windhoek Greenbelt Landscape. Farm Düsternbrook fällt in dieses Gebiet. Die Gelder die zur Verfügung gestellt werden haben zum Ziel Projekte zu fördern bei denen wir gemeinsam erfolgreicher sind als alleine z.B bei der Feuerbekämpfung, dem Problem der Verbuschung, Tourismus und der Aufbau eines gemeinsamen Informationssytems. Das Projekt läuft über fünf Jahre und kommt dieses Jahr 2016 zum Abschluss. In diesen 5 Jahren haben wir gemeinsam verschiedene, uns wichtige, Projekte ausgeführt. Das letzte Projekt ist ein gemeinsames Tourismusprojekt. Ziel ist das durch Regenunabhängige Einnahmen den Farmern ermöglicht wird  ihre Farm weniger zu bestocken um so Trockenheitsbetändiger zu sein. Wir haben uns entschlossen einen gemeinsamen Wanderweg zu erschliessen. Unser neue Wanderweg geht über 90 km und dauert 6 Tage. Übernachtet wird in einfachen “offenen Hüten” mit Toillete, Dusche und Feuerplatz. Seit ende März 2016 kamen die ersten Wanderer und die Rückmeldungen die wir erhalten sind durchweg sehr positive und wir hoffen das es in Folgejahren mehr wird. www.namibiahike.com. Somit, denken wir,
            ist der Anfang gemacht  um obige Ziele zu erreichen: gemeinsam starker und kompensatorische durch Tourismus damit damit Regenverbundene Einnahmen entlastet werden können.  

            Als weiteres Naturschutzprojekt, auf Düsternbrook, haben wir 2002 die bestehende Population der seltenen Hartmann Bergzebras um 15 weitere Tiere vergrössert. Das seltene Hartmann Bergzebra ist endemisch in Namibia und wegen der begrenzten Anzahl des limitierten Habitat sind diese Tiere auch in CITIES gelistet.
            <br /><br />
            
            ## Geparden und Leoparden

            Ausser den ganz natürlich und freilebenden Leoparden und Geparden auf der Farm haben wir auch Leoparden und Geparden in großen artgerechten Gehegen. Diese Gehege überschreiten bei weitem die offiziell empfohlenen 1 Hektar pro Tier vom MET (Ministerium für Umwelt und Tourismus). Auf der Düsternbrook Safari Gästefarm versuchen wir Touristen für diese seltenen und gefährdeten Katzen zu sensibilisieren durch "Conservation through Education".
            Ein international bekannter Wildtier-Tierarzt, Dr Hym Ebedes bezeichnete die Haltung der Katzen hier als freilaufend ("free-ranging"), aber nicht selbst versorgend. Besser lebendig als tot. Unsere Gehege sind viel viel größer als die vorgegebenen internationalen Einzäunungsvorschriften für Zoos. Unsere beiden Gepardengehege sind zum Beispiel so groß wie die Gesamtfläche des Frankfurter Zoos (Deutschland), auf der aber hunderte von Tieren leben.

            Auf Düsternbrook fangen oder töten wir schon seit vielen Jahren keine wildlebenden Raubtiere mehr. Wir zeigen Ihnen die an Menschen gewöhnten Tiere in Grossgehegen und alle anderen freilebenden Raubtiere auf der Farm werden geschützt und können somit ihre "natürlichen" Kreise ziehen. Verluste die wir an Rindern und Wild haben (schließlich sind wir ja ein wirtschaftlich funktionierender Betrieb!) werden durch Einnahmen aus dem Gästebetrieb, also von den gezeigten Leoparden und Geparden, kompensiert. Jeder Gast, der uns besucht, unterstützt hier also einen Teil des Naturschutzes.

            Alle Gäste sind willkommen in unserem Informationszentrum, um mehr über die lokale Tierwelt und unsere Schutzbemühungen zu erfahren.
            <br /><br />
            
            ## Bau und Landschaft
            Unter "sense of place" versteht man möglichst landschaftsintegriert zu bauen, d.h. Gebäude sollten möglichst in die Landschaft passen und NICHT hervorstechen. Hier auf der Farm ist das auch bei neuen Gebäuden unsere Absicht, den "Sense of place" zu bewahren. "Sense of place" bezieht sich aber auch auf die verwendeten Materialien, also möglichst natürliche Materialen wie z.B. Naturstein aus der Umgebung zu benutzen. Wir haben beispielsweise 2008 ein Anbau an der Küche gemacht, der niemand auffällt, der es nicht weiss. Unsere ländliche Lage bietet Besuchern Zugang zur lokalen Natur- und Tierwelt aber die alten Gebäude sollen mit ihrer Architektur so bisschen Kolonialatmosphäre der Jahrhundertwende ausstrahlen. Alle Gebäude, einschließlich der für die Angestellten, wurden aus Naturstein gebaut. Obwohl diese Bauart viel teurer ist als das bauen aus Backstein passt der Naturstein bestens in die natürliche Umgebung und es muss nie neu gestrichen werden. Die Räume sind so gestaltet, dass viel natürliches Licht während des Tages in die Zimmer gelangt und das Vordach (kolonialer Architekturstil) verhindert das Aufheizen der Wände, weil so die Sonne schon vorher "abgefangen" wird. Diese Massnahme plus die Luftisolation durch ein Giebeldach führt zu einer natürlichen Temperaturreglung der Zimmer und bietet ausserdem einen schattigen Sitzplatz.

            Auf der Safari Gästefarm Düsternbrook halten wir das Dekor ganz einfach, indem wir viel Holz und Naturfarben verwenden. Mehrere Gegenstände aus der Kolonialzeit, wie zB ein alter Ochsenwagen oder der Kessel einer alten Dampfmaschine oder ein Pflug dienen, als dekorative Elemente in Haus und Hof verwendet.

            Für unsere Gäste haben wir weitere Information über Haus und Hof, sowie die Geologie der Berge usw. in der Broschüre, "Was ist was auf Düsternbrook" zusammengestellt.
            <br /><br />

            ## Soziale Verantwortung

            Soziale Verantwortung bedeutet das fortlaufende Engagement eines Unternehmens ethisch zu handeln und zur nachhaltigen Wirtschaftsentwicklung beizutragen sowie gleichzeitig die Lebensqualität der Angestellten und deren Familien und der lokalen Bevölkerung zu verbessern.

            Ich kann nicht die namibische Gesellschaft alleine "verbessern", aber ich kann wohl versuchen, in unserer kleinen Gemeinde auf der Farm, Dinge zu verbessern. Deswegen ist sozial verantwortliches Handeln ein wichtiger Aspekt auf Düsternbrook. Mit resigniertem Pragamtismus ( =gelandeter Idealismus) ist es mein Ziel hier im Rahmen, dem Wollen und Möglichkeiten, Arbeit zu schaffen, Bildung zu fördern und die gesundheitliche Lage zu verbessern, um somit die Lebensqualität entscheidend zu verbessern und somit auch die Armut unter der lokalen Bevölkerung zu verringern. Alle Angestellten auf der Farm sind Mitglieder der Familien, die seit Generationen auf Düsternbrook leben. Für unsere Mitarbeiter habe ich solide Wohnhäuser gebaut. Diese verfügen über fließend Wasser, Elektrizität und gute sanitäre Anlagen. Möglichkeiten zum Recycling und zur Abfallentsorgung gibt es ebenfalls. In 2006 haben wir für die Kinder der Mitarbeiter einen Kindergarten ins Leben gerufen der durch Voluntäre geführt werden soll. Die Gemeinschaft und Voluntäre kümmern sich nun um das tägliche Management und durch Spenden unserer Gäste wird die Instandhaltung sowie der weiterlaufende Betrieb finanziert. Desweiteren haben wir für die Schulausbildung der Kinder einen Fond eingerichtet, aus dem anstehende Schulgebühren, Bücher, Schuluniformen sowie der Transport zur Schule teilweise bezahlt werden.

            Durch die finanzielle Unterstützung der Gäste wird heute sichergestellt, dass wir ALLE Kinder durch die Schule bekommen und die Schule nicht wie früher, aus finanziellen Gründen, vorzeitig abgebrochen wird. Unser Ziel ist es, allen Kindern auf der Farm den Abschluss der Sekundarstufe zu ermöglichen. Diese Grundlage plus Eigenwille und Antrieb erhöht die Möglichkeit auf bessere Berufschancen und somit eine bessere Lebensqualität, auch zum Vorteil dieser zukünftigen Gesellschaft. Alle Mitarbeiter mit Kindern haben eingewilligt, dass die Trinkgelder in diesen Schulfond eingezahlt werden, zum Vorteil ihrer eigenen Kinder. Durch diese Anstrengung und natürlich auch durch andere Kriterien haben wir vor ein paar Jahren die Auszeichnung "Landwirtschaftlicher Arbeitgeber des Jahres" erhalten.
            <br /><br />
            
            ## Personalentwicklung

            <blockquote>
              <q>"Every flower will blossom if it is treated well in its particular way!"</q>
            </blockquote>
            Auf Düsternbrook sollen gute Arbeits- und Lebensbedingungen für alle Angestellten herrschen. Jeder Vollzeitbeschäftigte sollte eine schriftliche Berufsbeschreibung haben, so dass grundsätzliche Aufgaben und Erwartungen klar definiert sind.

            Ausbildung findet statt durch “training on the job” um den Erwartungen unserer Gäste gerecht zu werden. Mitarbeiter werden aber auch zu externen Kursen wie z.B. Kochkurse, Fahrstunden, Guide Kurse gesendet, um weitere Fähigkeiten zu erweitern und Selbstvertrauen zu stärken. Eine Angestellte wurde mal auf eigenen Wunsch als Au-Pair-Mädchen nach Deutschland entsendet. Durch die gesammelten Erfahrungen im Ausland hatte Sie bei ihrer Rückkehr wesentlich bessere Berufsaussichten. Heute steht sie wirklich gut da, hat einen guten Job und Vorbildfunktion. Das, oder so ähnlich, für die meisten Kinder zu erreichen, wäre ein ultimatives Ziel in diesem Entwicklungstadium. Zwei andere Mitarbeiter/in wurden zum Fahrschulunterricht gesendet. Dies sind nur einige Beispiele. Wir sind über den gewählten Weg sehr zufrieden, alles braucht seine Zeit und viel Geduld, aber die sozio-ökonomische Entwicklung, die hier über die letzten Jahre stattgefunden hat, gibt uns recht.

            Unsere Regierung in Namibia hat ein Entwicklungsziel genannt: "Vision 2030". Auf Düsternbrook versuchen wir diese Ziele wesentlich früher zu erreichen. Im November 2008 haben wir im Durchschnitt bereits eines dieser Ziele, das angestrebte Durchschnittseinkommen pro Kopf erreicht.
            <br /><br />
    
            ## Guiding

            Warum ist Guiding wichtig? Touristen aus der ganzen Welt kommen nach Namibia und eine steigende Anzahl kehrt für zweite oder dritte Urlaube zurück. Aus diesem Grund ist es wichtig, das alle Guides korrekte und inhaltsreiche Informationen zur Verfügung stellen.

            Unsere Guides kommen von der Farm und haben nu rein paar Jahre Schulbildung. Sie hatten somit nie die Möglichkeit weiterführende Schulen zu besuchen. Fortbildung ist vor diesem Hintergrund keine einfache Aufgabe, aber mit Geduld und Zeit sowie kontinuierlichem Training können Verbesserungen realisiert werden. Es sind drei Schritte notwendig 1. man braucht farmspezifische Unterlagen 2. dieses Wissen muss oder kann dann nur verbal übertragen werden 3. mehrfache Wiederholung. Über die Jahre denke ich sind wir bereits gut voran gekommen und die Guides konnetn ihr Wissen in vielen Bereichen verbessern.

            Wir machen das Guidetraining hauptsächlich auf der Farm selber. Dazu hat mir 2008 ein Voluntär (John) ein internes Guide Training Manual "Düsternbrook Unabrigded Safari Training" (DUST) erstellt. Dieses Trainingprogramm wurde immer weiter verbessert und beinhaltet unter anderem eine Einführung zum Guiding, praktisches Guiding, Leoparden und Geparden, Tiere auf Düsternbrook, Natur- und Artenschutz usw. Ab 2009 haben wir dann dieses Programm in die Praxis umgesetzt durch "Training on the job". Manche Guides wurden aber auch zu speziellen Kursen zu externen Trainingsschulen geschickt. Hier konnten sie ihr vorhandenes Wissen und ihre Fähigkeiten bezüglich der Tier- und Pflanzenwelt erweitern. Ihr Englisch wurde dabei gleichzeitig verbessert und so sind unsere Guides in den letzten 8 Jahren durch das tägliche Training wirklich viel besser geworden.

            Als "in-house-controlling" werten wir unsere Gästebefragung regelmässig aus. Hierdurch könen wir die Erwartungen unserer Gäste zu ergründen und ihnen dann gerecht zu werden. Kritiken und Verbesserungsvorschläge werden wenn (Trend-)berechtigt umgesetzt. Aus diesem Grund bitten wir alle unsere Gäste, Ihren Aufenthalt in einem Feed-Back-Fragebogen zu bewerten. Manchmal sollen auch die Guides bewertet werden, um eventuell Schwachstellen festzustellen.

            Wir wissen, dass es viel Arbeit ist, ausgezeichneten nachhaltigen Tourismus zu praktizieren, aber wir nehmen die Herausforderung gerne an mit dem Ziel, bis 2013 alle 5 möglichen Blumen des "Eco Award Namibia" zu erzielen. Leider haben wir festgestellt dass die Torpfosten des Eco Awards Namibia immer mal wieder verschoben werden. Das war leider eine nicht sehr aufbauende und motivierende Entwicklung. Somit ist es uns erst anfang 2015 gelungen die 5 Blumen endlich zu erreichen. Kaum das Ziel erreicht, hört man, es kommen schon wieder neue Kritierien um sich internationaler anzupassen. Neue Kritierien zu erstellen ist immer einfacher als sie umzusetzten! Leider sind es nicht die gleichen Personen. 
            <br /><br />
            
            ## Unsere Zukunft

            Nachdem wir endlich die 5 Blumen erreicht haben werden wir die neuen Kriterien kritisch betrachten ob sie wirklich soviel anders/besser sind. Manchmal denke ich mir ob es nicht besser ist nur eigene Ziele zu verfolgen als ewig anderen Kriterien hinterher zu laufen nur um den “Stempel” zu erhaschen. Ich weiss ohnehin hier auf der Farm viel besser Bescheid was wirklich wichtig ist. Kriterien haben, aus der Art der Sache, immer etwas Allgemeines und das ist immer der Kleinste gemeinsame Nenner. Ich streben aber nicht den kleinsten gemeinsamen Nenner an, sondern möchte den grössten Düsternbrook spezifischen Effekt erreichen. Das ist wie mit der Kleidung trage ich von der Stange oder eben Massgeschneidert. 
            Eine gute Idee ist sicher einen für unsere Verhältnisse nachhaltigen Entwicklungsplan für die nächsten Jahre zu erstellen. Mehr auf Sonnenenergie zu setzten ist sicher auch nicht falsch. Dies ist zwar kostspielig für uns, da der Strom, sehr hoch subventioniert wird. Gleichzeitig ist uns aber bewusst, dass wir mit Solarenergie eine sinnvolle Engergiequelle anzapfen und somit energieunabhägiger werden. Auch ist die Umstellung auf lange Sicht hoffentlich finanziell lohnenswert. 2010 haben wir dann 9 kW installiert. Den Energieverbrauch der Mitarbeiter zu senken steht aber im Kontrast zur sozio-ökonomischen Entwicklung! Dennoch macht es Sinn den Verbrauch sinnvoll zu gestalten. Durch ein erhöhtes Bewusstsein, aufgrund besserer Informationen und Maßnahmen zum Energiesparen, wollen wir den Energieverbrauch von Angestellten und Gästen gleichermaßen steuern.

            Gesundheitstraining mit einem speziellen Teil über HIV/AIDS ist hier in Afrika von so grossem Vorteil und grosser Wichtigkeit, dass alle Mitarbeiter bereits trainiert und mehr sensibilisiert wurden. Damit hatten wir uns im Juli/August 2009 beschäftigt.

            Außerdem planen wir, für örtliche Schulabsolventen ein 3-monatiges Praktikum im Tourismus Bereich anzubieten. Die/ der Praktikant(-in) durchläuft in dieser Zeit alle betrieblichen Bereiche der Farm, um wertvolle Erfahrungen für ein späteres Berufsleben zu gewinnen. 

            Was noch? Auf dem Naturschutzgebiet wollen wir den Lebensraum der Hartmann Bergzebras und der Leoparden besser erfassen. 2011 hat ein Voluntär bezüglich der Leoparden einen Anfang gemacht. Dann soll eine Baum-/ Vegetationskarte erstellt werden, damit wir genau wissen, wo "fremde" Pflanzen, sogenannte Eindringerpflanzen vermehrt vorkomme, die dann entfernt werden müssen. Um das Außmaß der Verbuschung festzustellen, haben wir Anfang 2011 von einem Wissenschaftler eine Bestandsaufnahme der Farm machen lassen. Das Ziel ist durch kontrolliertes/ künstliches verbrennen von 2000 ha der Verbuschung entgegen zu wirken. Ende September 2011 hatten wir ein großes Feuer, dabei sind 4500 Hektar verbrannt. (Das war nicht geplant- aber die Auswirkung war fantastisch). 2012 wurde eine Nachuntersuchung gemacht. Im September 2012 wurde in Windhoek ein sogenanntes Rangeland Forum abgehalten und für den praktischen Teil wurde Düsternbrook ausgewählt um die positive Wirkung von Feuer bezüglich der Verbuschung zu zeigen. Diese Maßnahme, die Buschdichte zu verringern (um Verdunstung entgegen zu wirken), nennt man Rangeland oder Habitat Management. 2014 haben wir sehr erfolgreich 500 ha künstlich abgebrannt. Ich bin ein Vertreter von gezielten Bränden, um das natürliche Gleichgewicht zwischen Buschbestand und Grasland herzustellen. Das Argument: Wie hat die Natur den das selber geregelt? Die kommerziell angebotene Alternative, anstelle des Feuers Chemikalien zu verwenden oder auch Biomasse zu entfernen, durch abholzen der Büsche ist sehr fragwürdig. Was der Boden hervorgebracht hat muss wieder zurück, das weiss doch jeder Bauer das er nach der Ernte wieder düngen muss sonst verarmt der Boden und die Beträge verringern sich. 

            In den Jahren haben wir auch innerbetrieblichen Unterricht in Englisch, Deutsch, Computer- Grundlagen angeboten, aber ich muss ehrlich sagen ob das jetzt nun wirklich Vorteile gebracht hat. Dies war besonders für die jenigen Angestellten wichtig, die nicht die Möglichkeit hatten, die Schule zu besuchen bzw. zu vollenden. Gäste hatten uns zwei ausgediente Laptops gesponsert und einige Mitarbeiter haben Unterricht im Umgang damit bekommen, sodass sie nun auch kleine Dinge am Computer machen und nachlesen können. Heute ersetzt das Smartphone einiges und wir bieten freies Wi-Fi an. 

            Wir wissen, das uns und Namibia noch eine langer Weg bevorsteht. Vorschläge und Anmerkungen in Bezug auf neue Entwicklungen sind jederzeit willkommen. Viele Projekte auf der Farm z.B. Broschüren über Haus, Hof und Geschichte, Guide Training, nachhaltiger Entwicklungsplan, Wasser- und Energieverbrauchsanalyse etc. wurden von engagierten Volontären in einer win-win Vereinbarung erarbeitet. Dankeschön! Auch der erste Eco Award Überblick wurde 2008 größtenteils von einer Voluntärin (Eva) erstellt und im Oktober 2012 von Anna und 2016 jetzt von mir auf den neusten Stand gebracht.

            Fur weitere Informationen zum Thema Volontär-Einsatz auf Düsternbrook melden Sie sich einfach direkt bei [uns](/de/kontakt.html). Ich will aber gleich dazu sagen, was die Tätigkeitsbereiche sind und was erwartet wird: Kindergarten, Pferdetraining (dazu muss man allerdings genügend Reiterfahrung haben), Natur und Umwelt, Küche, Tourismus. Hier Voluntär zu sein ist nicht umsonst und auch nicht nur gegen Kost und Logie sondern es kostet etwas. Je kürzer der Aufenthalt je teurer. Optimale Aufenthaltsdauer liegt bei 6 Wochen und kostet Euro 15.00/Tag für Zimmer und Verpflegung und freies Wi-Fi in der Freizeit. Ergebnisse und Feedback bisher: die Voluntäre lernen hier sehr viel dazu und viele sagen sie möchten die Zeit hier nicht missen. Das Leben als Voluntär hier auf Düsternbrook sollte aber nicht als Urlaub angesehen werden - man muss schon etwas lernen wollen, auch bereit sein umzudenken und etwas geben zu wollen - das ist dann eine Art win-win Vereinbarung. Wenn man das nicht will, dann sollte man lieber woanders anklopfen.
        
    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
