- var page = "Home"

doctype html
html(lang="de")
  head
    include ../partials/_head.pug
    include ../partials/_style_inline.pug
  body.page--home
    include ../partials/_header-de.pug
    main
      include ../content/home-de.pug

    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
