- var page = "Home"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
    include ../partials/_style_inline.jade
  body.page--home
    include ../partials/_header-de.jade
    main
      include ../content/home-de.jade

    include ../partials/_footer-de.jade
    include ../partials/_scripts.jade
