- var page = "Katrin Luxus Suite"
- var pageslug = "katrin-luxury-suite"
- var gallery = true
- var form = true
- var german = true

//- Bed and breakfast
- var rate1 = "N$ 1039.53"
- var rate2 = "N$ 1333.00"
- var rate3 = "N$ 1153.35"
- var rate4 = "N$ 1470.00"

//- Dinner, bed and breakfast
- var rate5 = "N$ 1299.00"
- var rate6 = "N$ 1489.00"
- var rate7 = "N$ 1375.00"
- var rate8 = "N$ 1581.00"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      include ../content/katrin-de.jade
      include ../content/room-rates-de.jade
      include ../partials/_reservation-de.jade
    
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
