- var page = "Katrin Luxus Suite"
- var pageslug = "katrin-luxury-suite"
- var gallery = true
- var form = true

- var rate1 = "N$ 1429.00"
- var rate2 = "N$ 1268.00"
- var rate3 = "N$ 1039.53"
- var rate4 = "N$ 1268.00"
- var rate5 = "N$ 1429.00"
- var rate6 = "N$ 1299.00"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      include ../content/katrin-de.jade
      include ../content/room-rates-de.jade
      include ../partials/_reservation-de.jade
    
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
