- var page = "Kolonialhaus"
- var pageslug = "kolonialhaus"
- var gallery = true
- var form = true
- var german = true

//- Bed and breakfast
- var rate1 = "N$ 704.93"
- var rate2 = "N$ 928.00"
- var rate3 = "N$ 818.75"
- var rate4 = "N$ 1065.00"

//- Dinner, bed and breakfast
- var rate5 = "N$ 1081.00"
- var rate6 = "N$ 1226.00"
- var rate7 = "N$ 1157.00"
- var rate8 = "N$ 1317.00"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      include ../content/kolonialhaus-de.jade
      include ../content/room-rates-de.jade
      include ../partials/_reservation-de.jade  
    
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
