- var page = "Leistungen"

doctype html
html(lang="en")
  head
    include ../partials/_head.pug
  body.page--services
    include ../partials/_header-de.pug
    main
      include ../content/services-de.pug
    
    include ../partials/_footer.pug
    include ../partials/_scripts.pug
