- var page = "Leistungen"

doctype html
html(lang="en")
  head
    include ../partials/_head.jade
  body.page--services
    include ../partials/_header-de.jade
    main
      include ../content/services-de.jade
    
    include ../partials/_footer.jade
    include ../partials/_scripts.jade
