- var page = "Links"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main.with-sidebar
    
      .secondary-navigation
        .content
          .form-item.hidden-desktop
            label.form-label Über Düsternbrook
            .form-select
              select.no-icon(name='secondary-nav', onchange="if (this.value) window.location.href=this.value")
                option(value='geschichte.html') Geschichte 
                option(value='wildnutzung.html') Wildnutzung
                option(value='was-ist-eine-gaestefarm.html') Was ist eine Gästefarm?
                option(value='wildlife-fotografie-namibia.html') Professionelle Fotografie
                option(value='eco-award.html') Eco-award program
                option(value='links.html', selected='selected') Links
          .only-desktop
            label.menu-label Über Düsternbrook
            ul.menu
              li 
                a(href='geschichte.html') Geschichte
              li
                a(href='wildnutzung.html') Wildnutzung
              li
                a(href='was-ist-eine-gaestefarm.html') Was ist eine Gästefarm?
              li
                a(href='wildlife-fotografie-namibia.html') Professionelle Fotografie
              li
                a(href='eco-award.html') Eco-award program             
              li
                a.active(href='links.html') Links
                
    
      .content-with-left-sidebar
        .intro-header
          .content
            h1 Links
            
        .section-page
          .list-group
            a.list-group-item(href="http://www.namibia-tourism.com")
              h4.list-group-item-heading Namibia's Verkehrsbüro in Frankfurt: Namibia Tourism Board
              p.list-group-item-text Das Verkehrsbüro verdient sehr viel Lob und hat auch eine eigene Homepage die wirklich viele praktische Tips enthält. Der langjährige Mitarbeiter Jürgen Goetz hat wirklich das Wesentliche und Wichtige zusammengetragen. Sehr wertvoll ist Jürgen Goetz' Hinweis "Gut zu Wissen von A...bis Z".
            
            a.list-group-item(href="http://www.thomasrichter.de")
              h4.list-group-item-heading Thomas Richter
              p.list-group-item-text Eine sehr gute Campingwebsite hat Thomas Richter erstellt. Unserer Meinung nach, ist sie die beste über Namibia. Ausserdem wird sie ständig erweitert mit aktuellen Tips und Neuheiten.
            
            a.list-group-item(href="http://www.landscapesnamibia.org/windhoek-green-belt/")
              h4.list-group-item-heading Windhoek Green Belt Landschaft
              p.list-group-item-text Die Windhoek Green Belt Landschaft ist Teil des NAM-PLACE - eine Initiative Erhaltung Barrieren zu beseitigen und sich für die Schaffung eines großen Netzes von geschützten Landschaften zu heben.
            
            a.list-group-item(href="http://www.etoshanationalpark.org/")
              h4.list-group-item-heading Etosha National Park
              p.list-group-item-text Etosha National Park bietet Ihnen genaue und up-to-date Informationen über Etosha National Park.
              
            a.list-group-item(href="http://www.flyairlink.com/flights-to-windhoek/windhoek.php")
              h4.list-group-item-heading Airlink
              p.list-group-item-text Tägliche Flüge zwischen Kapstadt und Windhoek

            a.list-group-item(href="https://www.flysaa.com/")
              h4.list-group-item-heading South African Airways
              p.list-group-item-text South African Airways fliegt häufig aus London und Frankfurt über Johannesburg nach Windhoek
                
            a.list-group-item(href="https://www.airnamibia.de/")
              h4.list-group-item-heading Air Namibia
              p.list-group-item-text Air Namibia fliegt viermal die Woche non-stop zwischen Frankfurt und Windhoek.
        
            a.list-group-item(href="https://www.condor.com/")
              h4.list-group-item-heading Condor
              p.list-group-item-text Mit allen anderen Fluggesellschaften kann man über Johannesburg (Südafrika) nach Windhoek fliegen.
          
            a.list-group-item(href="http://www.afrikanische-kunst.eu/")
              h4.list-group-item-heading Afrikanische Kunst
            
        
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
