- var page = "Reiten"
- var form = true
- var german = true

doctype html
html(lang="de")
  head
    include ../partials/_head.pug
  body.page--basic
    include ../partials/_header-de.pug
    main
      include ../content/horse-riding-de.pug
      include ../partials/_book-activity-de.pug
      
    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
  
