- var page = "Safari Zelte"
- var pageslug = "safari-tents"
- var gallery = true
- var form = true
- var rate1 = "N$ 535.93"
- var rate2 = "N$ 728.00"
- var rate3 = "N$ 589.93"
- var rate4 = "N$ 953.00"
- var rate5 = "N$ 1078.00"
- var rate6 = "N$ 1006.00"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      include ../content/safari-tents-de.jade
      include ../content/room-rates-de.jade
      include ../partials/_reservation-de.jade
    
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
