- var page = "Swakopmund Angebot"
- var form = true
- var gallery = true
- var german = true

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      include ../content/swakopmund-offer-de.jade
      include ../partials/_book-swakopmund-deal-de.jade
    
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
