- var page = "Swakopmund Angebot"
- var pageslug = "swakopmund"
- var form = true
- var gallery = true
- var german = true

doctype html
html(lang="de")
  head
    include ../partials/_head.pug
  body.page--basic
    include ../partials/_header-de.pug
    main
      include ../content/swakopmund-offer-de.pug
      include ../partials/_book-swakopmund-deal-de.pug
    
    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
