- var page = "Thanks"

doctype html
html(lang="de")
  head
    include ../partials/_head.pug
  body.page--basic
    include ../partials/_header-de.pug
    main
      .intro-header
        .content
          br
          br 
          br 
          h1 Danke für deine Anfrage.
          .subtitle 
            br
            br 
            h4 Wir versuchen Sie so bald wie möglich antworten.   
        
    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
    
    
