- var page = "Thanks"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      .intro-header
        .content
          br
          br 
          br 
          h1 Danke für deine Anfrage.
          .subtitle 
            br
            br 
            h4 Wir versuchen Sie so bald wie möglich antworten.   
        
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
    
    
