- var page = "Vogelbeobachtung"

doctype html
html(lang="de")
  head
    include ../partials/_head.pug
  body.page--basic
    include ../partials/_header-de.pug
    main
      include ../content/bird-watching-de.pug
    
    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
  
