- var page = "Wandern"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main
      include ../content/hiking-de.jade
    
    include ../partials/_footer-de.jade
    include ../partials/_scripts.jade
  
