- var page = "Wildnutzung"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--basic
    include ../partials/_header-de.jade
    main.with-sidebar
    
      .secondary-navigation
        .content
          .form-item.hidden-desktop
            label.form-label Über Düsternbrook
            .form-select
              select.no-icon(name='secondary-nav', onchange="if (this.value) window.location.href=this.value")
                option(value='geschichte.html') Geschichte 
                option(value='wildnutzung.html') Wildnutzung
                option(value='was-ist-eine-gaestefarm.html') Was ist eine Gästefarm?
                option(value='wildlife-fotografie-namibia.html', selected='selected') Professional photography
                option(value='eco-award.html') Eco-award program
                option(value='links.html') Links
          .only-desktop
            label.menu-label Über Düsternbrook
            ul.menu
              li 
                a(href='geschichte.html') Geschichte
              li
                a(href='wildnutzung.html') Wildnutzung
              li
                a(href='was-ist-eine-gaestefarm.html') Was ist eine Gästefarm?
              li
                a.active(href='wildlife-fotografie-namibia.html') Professionelle Fotografie
              li
                a(href='eco-award.html') Eco-award program             
              li
                a(href='links.html') Links
                
    
      .content-with-left-sidebar
        .intro-header
          .content
            h1 Wildlife Fotografie Namibia
            
        .section-page
          :markdown
            Namibia ist ein hervorragendes Ziel für jeden Fotografen. Hier in Namibia haben wir zauberhafte Landschaften und die wilden Tiere werden Ihnen erstaunliche Bilder zu machen bieten. Auf unserer Safari Lodge bieten wir ausser der normalen Leoparden und Geparden Tour auch Sondertouren speziell für Fotografen an. Diese prachtvollen Tiere sind schwer in der freien Natur zu sehen. Besonders der Leopard ist vor allem Dingen ein nachtaktives Tier. In der begrenzten Zeit die normal ein Tourist zur verfügung hat kann er diese Tiere in der Regel nicht sehen. 
            
            Bei diesen Sondertouren wählt der Fotograf selbst die Zeit die er am besten findet wir richten uns nach ihm. Er sollte also schon wissen oder sich darum kümmern wann das beste Licht für ihn ist und wann wir also losfahren sollen. Die meissten wählen am Morgen etwa 20 Minuten nach Sonnenaufgang oder abends vor dem Sonnenuntergang. Am liebsten aber meisst Morgends weil sie sagen das Licht sei schärfer. Der Fotograf sitzt alleine im offenen 4 x 4 Jeep Safari etwa 1,8 Meter über den Boden. Die Dauer ist NICHT unbegrenzt sondern nur solange Fleischvorrat da ist und das Tier noch fressen will . Wenn das Tier satt ist verdrückt es sich wieder im Gelände. Vorher muss man sein Equipment vorbereiten und nicht erst wenn man schn beim Leoparden oder Geparden ist.
            
            Es gibt keinen Zaun zwischen Ihnen und dem Tier, das stellt sicher das Sie nichts daran hindert brillante Bilder zu machen. Normalerweise legen wir Fleisch in einen Baum, um den Leoparden aus seinem Schutz zu locken, aber es gibt keine Garantie dafür das er immer kommt oder das er immer in den Baum springt. Der Abstand zwischen Ihnen und den Tieren ist etwa 10 bis 25 Meter (30-75 Fuss). Der Guide kann etwas versuchen den Geparden oder Leoparden zu manipulieren, aber hier bitte nicht zu viel erwarten. Unsere Leoparden und Geparden sind wilde Tiere und die Sicherheit ist immer an erster Stelle. 
          
            Hier haben Sie die einmalige Chance Leoparden und Geparden in ihrer natürlichen Umgebung zu fotografieren und nicht nur das wir haben hier sicher mit die meisste Erfahrung weil wir es eben schon über 20 Jahre so betreiben.
    
            Derzeit (November 2012) haben wir 2 Leoparden und 5 Geparden in unserem Gehege und es gibt mehrere freilebende Leoparden auf unser Farm. Unser Übernachtungspreis besteht aus mehreren Modulen die Sie selber zusammensetzen können: Zimmer/Frühstück; Dinner, und eine Wahl aus folgenden Aktivitäten: Leoparden und Gepardenfahrt, Wildbeobachtungsfahrt, frühe Bergfahrt oder Ausreiten.( je nach Anreise und verfügbarer Zeit können es auch mehrere Aktivitäten pro Tag sein). Beim "Mehr-als-einer-Übernachtungs-Paket" ist ausser Dinner auch immer eine Aktivität Ihrer Wahl inklusive. Das ist wegen der grossen Nachfrage preislich auch die günstigste Wahl.
          
        
    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
