- var page = "Unterkunft & Preise"

doctype html
html(lang="de")
  head
    include ../partials/_head.pug
  body.page--overview
    include ../partials/_header-de.pug
    main
      include ../content/rooms-de.pug

    include ../partials/_footer-de.pug
    include ../partials/_scripts.pug
