- var page = "Unterkunft & Preise"

doctype html
html(lang="de")
  head
    include ../partials/_head.jade
  body.page--overview
    include ../partials/_header-de.jade
    main
      include ../content/rooms-de.jade

    include ../partials/_footer-de.jade  
    include ../partials/_scripts.jade
