.l-branding-header
  .container
    %a.logo{:href => "/", :rel => "home", :title => "Home"}
      %span.element-invisible Düsternbrook safari guest farm
    .mobile-nav
      %a#main-menu-show.nav-btn{"data-nav" => "js-nav", :href => "#primary-nav"} menu
