.teasers {
  lost-utility: clearfix;
}

.teaser__wrapper {
  max-width: 60em;
  margin: auto;
  display: flex;
  align-items: center;
}

.teaser__content {

  @include MQ($tab) {
    lost-column: 1/2;
    padding: 30px 20px;
  }

  @include MQ($desk) {
    lost-column: 2/3;
  }

  h2 {
    margin: 0;
    font-weight: normal;
    margin-bottom: 15px;
    line-height: 1;
    font-family: 'Acme';

    a {
      text-decoration: underline;
      display: block;
    }

  }

}

.teaser__image {
  display: none;

  @include MQ($tab) {
    display: block;
    lost-column: 1/2;

    img {
      display: table;
    }
  }

  @include MQ($desk){
    lost-column: 1/3;
  }

}


.teaser-activity {
  padding: 30px 20px;


  @include MQ($tab) {
    padding: 0;
    lost-utility: clearfix;
  }

  @include MQ($desk) {
    display: flex;
  }

}

.teaser-activity:nth-of-type(3n+1) {
  background-color: $green;
  color: white;

  a {
    color: white;
  }

}

.teaser-activity:nth-of-type(3n+2) {
  background-color: $brown;
  color: white;

  a {
    color: white;
  }

}

.teaser-activity:nth-of-type(3n+3) {
  background-color: $sand;
  color: $brown;
}
