.teasers {
  lost-utility: clearfix;
}

.teaser__content {

  h2 {
    margin: 0;
    font-weight: normal;

    a {
      text-decoration: underline;
      display: block;
      font-family: 'Acme';
      font-size: 1em;
      line-height: 1;
      margin-bottom: 15px;
    }

  }

}

.teaser__image {
  display: none;
}


.teaser-activity {
  padding: 30px 20px;

  @include MQ($tab) {
    padding-left: 10%;
    padding-right: 10%;
  }

  @include MQ($desk) {
    padding-left: 5%;
    padding-right: 5%;
  }

}

.teaser-activity:nth-of-type(3n+1) {
  background-color: $green;
  color: white;

  a {
    color: white;
  }

}

.teaser-activity:nth-of-type(3n+2) {
  background-color: $brown;
  color: white;

  a {
    color: white;
  }

}

.teaser-activity:nth-of-type(3n+3) {
  background-color: $sand;
  color: $brown;
}
