.page--basic {
  @include MQ($tab) {
    padding-bottom: 70px;
  }
}

.section-page {
  padding: 0 20px;

  .page--services & {
    @include MQ($tab) {
      position: relative;
      max-width: $tab;
      margin: auto;
      padding: 0;
    }
  }

  @include MQ($desk) {
    max-width: $tab;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
}


.page-nav {
  padding-top: 60px;

  @include MQ($desk) {
    display: none;
  }

}

.levelup {
  display: block;
  background: darken($background, 20%);
  color: white;
  padding: 10px 20px 10px 34px;
  position: relative;
  font-family: 'Acme';
  font-size: 1.1em;

  &:before,
  &:after {
    position: absolute;
    display: inline-block;
    left: 20px;
    width: 3px;
    height: 10px;
    top: 13px;
    content: '';
    transition: .3s;
    background: white;
  }

  &:before {
    transform: rotate(135deg);
    top: 18px;
  }

  &:after {
    transform: rotate(-135deg);

  }

}

.price {
  font-family: 'Acme';
  text-align: center;
  font-size: 1.25em;
}

.price-label {
  color: rgba($brown, 0.5);
  display: inline-block;
  margin-right: 10px;
}

.price-amount {
  text-transform: uppercase;
  color: $brown;
  display: inline-block;
}

.book {
  display: inline-block;
  padding: 0 2em;
  margin: 0 auto;
  border-radius: 3px;
  background-color: $green;
  color: white;
  text-align: center;
  font-family: 'Acme';
  font-size: 1.5em;
  line-height: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
