.intro-scene {
  width: 100%;
  z-index: 1;
  position: relative;
	padding-bottom: 75%; // 4:3
  background-color: #94B6E0;
  background-image: url('/images/hero-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20px;

  @include MQ(retina2) {
    background-image: url('/images/hero-home@2x.jpg');
  }

  @include MQ($tab){
    min-height: 100vh;
    background-position: 50% 0;
    background-image: url('/images/hero-home-tab.jpg');

    @include MQ(retina2) {
      background-image: url('/images/hero-home-tab@2x.jpg');
    }

  }

  @include MQ($desk) {
    background-image: url('/images/hero-home-desk.jpg');

    @include MQ(retina2) {
      background-image: url('/images/hero-home-desk@2x.jpg');
    }

    .container {
      lost-utility: clearfix;
    }

    .intro-content {
      lost-column: 1/4 0;
      padding-top: 150px;
    }

    .hero-text {
      lost-column: 3/4 0;
      padding-top: 150px;
      font-family: 'Acme';
      font-size: 1.1em;
    }

  }

  @include MQ($deskwide) {
    padding-bottom: 56px;

  }

}

.intro-content {
  padding-top: 70px;
  text-align: center;

  .prefix-title {
    font-family: 'Acme';
    color: $blue-light;
    font-size: 1.1em;
    line-height: 1.35;
  }

  h1 {
    color: white;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.12);

    @include MQ($tab) {
      font-size: 36px;
    }
  }

  .site-logo {
    svg {
      width: 100px;
    }
  }

}

.page--home .main-content {
  margin-top: -20%;
  position: relative;
  z-index: 1;

  @include MQ($deskwide) {
    margin-top: 0;
  }
}

.page--home .section-green {

  @include MQ($desk) {
    .container {
      lost-utility: clearfix;
    }

    .section-title {
      lost-column: 1/4;
    }

    .section-content {
      lost-column: 3/4;
    }

  }

}
