- var page = "Activities"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--overview
    include partials/_header.jade
    main
      include content/activities-en.jade
    include partials/_footer.jade    
    include partials/_scripts.jade
  
