- var page = "Camping"
- var form = true
- var gallery = true
- var gallery2 = true

//- Bush
- var rate1 = "N$ 834.00"
- var rate2 = "N$ 834.00"
- var rate3 = "N$ 866.00"
- var rate4 = "N$ 866.00"

//- Pioneer
- var rate5 = "N$ 804.00"
- var rate6 = "N$ 804.00"
- var rate7 = "N$ 836.00"
- var rate8 = "N$ 836.00"

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body.page--basic
    include partials/_header.pug
    main
      include content/camping-en.pug
      include content/camping-rates.pug
      include partials/_reservation.pug
    include partials/_footer.pug
    include partials/_scripts.pug
