- var page = "Camping"
- var form = true
- var gallery = true
- var gallery2 = true

//- Bush
- var rate1 = "N$ 825.00"
- var rate2 = "N$ 825.00"
- var rate3 = "N$ 834.00"
- var rate4 = "N$ 834.00"

//- Pioneer
- var rate5 = "N$ 795.00"
- var rate6 = "N$ 795.00"
- var rate7 = "N$ 804.00"
- var rate8 = "N$ 804.00"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      include content/camping-en.jade
      include content/camping-rates.jade
      include partials/_reservation.jade
    include partials/_footer.jade
    include partials/_scripts.jade
