- var page = "Activities"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      include content/cats-unlimited-en.jade
    
    include partials/_scripts.jade
  
