- var page = "Contact"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      .intro-header
        .content
          h1 Contact
          .subtitle 
            strong Dusternbrook guest farm 
          .subtitle P.O. Box 870 - Windhoek - Namibia <br /> Tel: +264-61 232 572 - Fax: +264-61 257 112 <br />
            script.
              <!--
              var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
              var path = 'hr' + 'ef' + '=';
              var addy11696 = '&#105;nf&#111;' + '&#64;';
              addy11696 = addy11696 + 'd&#117;&#101;st&#101;rnbr&#111;&#111;k' + '&#46;' + 'n&#101;t';
              var addy_text11696 = '&#105;nf&#111;' + '&#64;' + 'd&#117;&#101;st&#101;rnbr&#111;&#111;k' + '&#46;' + 'n&#101;t';
              document.write('<a ' + path + '\'' + prefix + ':' + addy11696 + '\'>');
              document.write(addy_text11696);
              document.write('<\/a>');
              //-->\n 
            script.
              <!--
              document.write('<span style=\'display: none;\'>');
              //-->
            | This email address is being protected from spambots. You need JavaScript enabled to view it.
            script.
              <!--
              document.write('</');
              document.write('span>');
              //-->
          
          
      .contact-modal-container  
        form.form(action='/php/process.php', method='POST', accept-charset="UTF-8")    
          .form-item
            label.form-label Name
            input.form-text.name(type='text', placeholder='What is your name?', value='', name='name' required)
          
          .form-item
            label.form-label E-mail
            input.form-text.email(type='email', placeholder='What is your email?', value='', name='email', required)    
          
          .form-item
            label.form-label Phone
            input.form-text.phone(type='number', placeholder='What is your phone?', value='', name='phone', required) 
          
          .form-item
            label.form-label Message
            textarea.form-text.message(name='message', required)   
          
          .form-item
            input(type='hidden', name='subject', value='Contact via website')
            input(type='hidden', name='language' value='English')
            input(type='hidden', name='config', value='dusternbrook')
            input.gotcha(type='text', name='_gotcha')
            input.form-submit(type="submit" value='Send')
  
      .section-page
        h2.center S 22°16'214'' - E16°54'069''
      #map(style='width: 100%;height: 400px; height: 80vh')
        
    include partials/_footer.jade  
    include partials/_scripts.jade
    
    script.
      function initMap() {
    
        var latlng = new google.maps.LatLng(-22.269509,16.900352);
        var mapOptions = {
          center: latlng,
          zoom: 8,
          scrollwheel: false,
          disableDefaultUI: true,
          zoomControl: true,
          zoomControlOptions: {
            position: google.maps.ControlPosition.RIGHT_BOTTOM
          }
          };
          
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var image = '/images/mapicon.svg';
        
        var marker = new google.maps.Marker({
          map: map,
          position: latlng,
          title: 'Duesternbrook guest farm',
          icon: image
        });
      }

    script(src="https://maps.googleapis.com/maps/api/js?callback=initMap", async defer)
