- var page = "Damahaus"
- var pageslug = "damahaus"
- var form = true
- var gallery = true

//- Bed and breakfast
- var rate1 = "N$ 589.93"
- var rate2 = "N$ 589.93"
- var rate3 = "N$ 703.75"
- var rate4 = "N$ 703.75"

//- Dinner, bed and breakfast
- var rate5 = "N$ 1006.00"
- var rate6 = "N$ 1006.00"
- var rate7 = "N$ 1082.00"
- var rate8 = "N$ 1082.00"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      include content/damahaus-en.jade
      include content/room-rates.jade
      include partials/_reservation.jade  
    include partials/_footer.jade
    include partials/_scripts.jade
