- var page = "Eco award program at Düsternbrook"
- var pageslug = "eco-award"

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body.page--basic
    include partials/_header.pug
    main.with-sidebar
    
      .secondary-navigation
        .content
          .form-item.hidden-desktop
            label.form-label About Düsternbrook
            .form-select
              select.no-icon(name='secondary-nav', onchange="if (this.value) window.location.href=this.value")
                option(value='history.html') History 
                option(value='wildlife-management.html') Wildlife Management
                option(value='what-is-a-guest-farm.html') What is a guest farm?
                option(value='wildlife-photography-namibia.html') Professional photography
                option(value='eco-award.html', selected='selected') Eco-award program
                option(value='links.html') Links
          .only-desktop
            label.menu-label About Düsternbrook
            ul.menu
              li 
                a(href='history.html') History
              li
                a(href='wildlife-management.html') Wildlife Management
              li
                a(href='what-is-a-guest-farm.html') What is a guest farm?
              li
                a(href='wildlife-photography-namibia.html') Professional photography
              li
                a.active(href='eco-award.html') Eco-award program             
              li
                a(href='links.html') Links

      .content-with-left-sidebar
        .intro-header
          .content
            h1 Eco award program at Düsternbrook
            
        .section-page

          :markdown-it
            Tourism is one of the fastest growing industries in the world and as with all other economic activities there are two sides to it. On one side tourism brings employment generation and opportunities for local people, foreign exchange, funds for conservation projects and on the other side it produces waste, uses resources and creates environmental and social costs.

            Due to the possible negative impacts, the World Commission on Sustainable Development urges that all countries should work against illegal, abusive and exploitative tourist activities and find ways to minimize the negative and support the positive impacts of tourism. In response the World Tourism Organization (WTO) recommend that each country should create its own program for sustainable tourism. Namibia reacted on that with the "Eco Award Namibia" in 2005. The Eco Award Namibia is a non-profit organization which encourages sustainable development with the aim to create more awareness for the environment but also looks at the uplifting of local staff in terms of employment and training. The uplifting of local staff not only means to create jobs, but it means to give a higher standard of living to future generations.

            Establishments, from campsites to hotels, can apply and depending upon the number of points achieved in the checked areas- conservation, water, waste and energy management, construction and landscaping, guiding, staff development and social responsibility- an accommodation can get a maximum of 5 flowers. For example, the evaluation team looks at what sort of water management policies you have in place and also checks on whether you are using natural building materials for construction such as natural stone and shadow roofing. In order to increase opportunities for rural communities, they are concerned that you give priority to hiring and training local staff, rather than bringing in trained employees from outside. Each applicant gets rechecked every two years.

            Düsternbrook Safari Guest Farm started to work on sustainable tourism long before 2005 and so we managed to obtain 3 out of 5 flowers already in the first year, 2005. Once re-checked in 2007 we obtained again 3 flowers and with improvements done since 2007 we have received 4 flowers in 2008 and again in 2012. We are proud to say that at that time there are only very few establishments who have obtained 4 flowers and we have been the only one in the guest farm category. With the years the number of accommodations who participate have grown. In april 2015 we have been assessed again and in august 2015 we got the positive news that this time we managed to achieve to get 5 flowers of which we are very proud. Now we are one of only 12 establishments who have achieved 5 flowers and still the only guest farm.
            
            At Düsternbrook we endeavor to promote sustainable tourism in all areas and our aim is:
            
            > Reduce the social and environmental costs and maximize the advantages!
            
            We recognize and respect the fact that we have a responsibility to nature and we intend to conserve and sustain resources, protect and develop the local community and reduce our ecological footprint.
            
            This little introduction, with only some examples, gives you some insight into our guest farm operations.

    include partials/_footer.pug
    include partials/_scripts.pug
