- var page = "Felsenhaus"
- var pageslug = "felsenhaus"
- var gallery = true
- var form = true

//- Bed and breakfast
- var rate1 = "N$ 883.13"
- var rate2 = "N$ 1063.00"
- var rate3 = "N$ 996.95"
- var rate4 = "N$ 1200.00"

//- Dinner, bed and breakfast
- var rate5 = "N$ 1197.00"
- var rate6 = "N$ 1314.00"
- var rate7 = "N$ 1273.00"
- var rate8 = "N$ 1405.00"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      include content/felsenhaus-en.jade
      include content/room-rates.jade
      include partials/_reservation.jade      
    include partials/_footer.jade
    include partials/_scripts.jade
