- var page = "Game drive"
- var form = true
doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      include content/game-drive-en.jade
      include partials/_book-activity.jade
    include partials/_footer.jade
    include partials/_scripts.jade
  
