- var page = "Game drive"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      include content/game-drive-en.jade
    
    include partials/_scripts.jade
  
