- var page = "Hiking"

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body.page--basic
    include partials/_header.pug
    main
      include content/hiking-en.pug
    
    include partials/_footer.pug
    include partials/_scripts.pug
  
