- var page = "Hiking"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      include content/hiking-en.jade
    
    include partials/_footer.jade
    include partials/_scripts.jade
  
