- var page = "Horse riding"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      include content/horse-riding-en.jade
    
    include partials/_scripts.jade
  
