- var page = "Home"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--home
    include partials/_header.jade
    main
      include content/home-en.jade
      
    include partials/_footer.jade
    include partials/_scripts.jade
