- var page = "Links"
- var pageslug = "links"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main.with-sidebar
    
      .secondary-navigation
        .content
          .form-item.hidden-desktop
            label.form-label About Düsternbrook
            .form-select
              select.no-icon(name='secondary-nav', onchange="if (this.value) window.location.href=this.value")
                option(value='history.html') History 
                option(value='wildlife-management.html') Wildlife Management
                option(value='what-is-a-guest-farm.html') What is a guest farm?
                option(value='wildlife-photography-namibia.html') Professional photography
                option(value='eco-award.html') Eco-award program
                option(value='links.html', selected='selected') Links
          .only-desktop
            label.menu-label About Düsternbrook
            ul.menu
              li 
                a(href='history.html') History
              li
                a(href='wildlife-management.html') Wildlife Management
              li
                a(href='what-is-a-guest-farm.html') What is a guest farm?
              li
                a(href='wildlife-photography-namibia.html') Professional photography
              li
                a(href='eco-award.html') Eco-award program             
              li
                a.active(href='links.html') Links
                
    
      .content-with-left-sidebar
        .intro-header
          .content
            h1 Links
            
        .section-page
          .list-group
            a.list-group-item(href="http://www.namibia-tourism.com")
              h4.list-group-item-heading Namibia's tourist agency in Frankfurt: Namibia Tourism Board
              p.list-group-item-text This tourist agency is really very good, espacially their homepage, which contains a lot of useful tips. Unfortunately the homepage is only in german. Check "Gut zu Wissen von A...bis Z".
            
            a.list-group-item(href="http://www.landscapesnamibia.org/windhoek-green-belt/")
              h4.list-group-item-heading Windhoek Green Belt Landscape
              p.list-group-item-text The Windhoek Green Belt Landscape is part of NAM-PLACE - an initiative to lift conservation barriers and advocate for the establishment of a large-scale network of protected landscapes.
            
            a.list-group-item(href="http://www.etoshanationalpark.org/")
              h4.list-group-item-heading Etosha National Park
              p.list-group-item-text Etosha National Park provides you accurate and up-to-date information on Etosha National Park.
              
            a.list-group-item(href="http://www.flyairlink.com/flights-to-windhoek/windhoek.php")
              h4.list-group-item-heading Airlink
              p.list-group-item-text Daily flights between Cape Town and Windhoek

            a.list-group-item(href="https://www.flysaa.com/")
              h4.list-group-item-heading South African Airways
              p.list-group-item-text South African Airways flies frequently from London and Frankfurt via Johannesburg to Windhoek
                
            a.list-group-item(href="https://www.airnamibia.de/")
              h4.list-group-item-heading Air Namibia
              p.list-group-item-text Air Namibia flies four times a week non-stop Frankfurt - Windhoek and Gatwick - Windhoek.
        
            a.list-group-item(href="https://www.condor.com/")
              h4.list-group-item-heading Condor
              p.list-group-item-text Condor flies once or twice a week from Frankfurt in Germany to Windhoek.
          
            a.list-group-item(href="http://www.afrikanische-kunst.eu/")
              h4.list-group-item-heading African Art
  
        
    include partials/_footer.jade  
    include partials/_scripts.jade
