- var page = "Rooms & rates"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--overview
    include partials/_header.jade
    main
      include content/rooms-en.jade
    
    include partials/_footer.jade
    include partials/_scripts.jade
