- var page = "Services"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--services
    include partials/_header.jade
    main
      include content/services-en.jade
    
    include partials/_scripts.jade
