- var page = "Swakopmund offer"
- var pageslug = "swakopmund"
- var form = true
- var gallery = true
- var rate1 = "N$ 998.00"
- var rate2 = "N$ 883.13"
- var rate3 = "N$ 1254.00"
- var rate4 = "N$ 1197.00"

doctype html
html(lang="en")
  head
    include partials/_head.pug
  body.page--basic
    include partials/_header.pug
    main
      include content/swakopmund-offer-en.pug
      include partials/_book-swakopmund-deal.pug
    
    include partials/_footer.pug
    include partials/_scripts.pug
