- var page = "Thanks"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main
      .intro-header
        .content
          br
          br 
          br 
          h1 Thank you for your request. 
          .subtitle 
            br
            br 
            h4 We will get back to you as soon as possible.       
      
        
    include partials/_footer.jade  
    include partials/_scripts.jade
    
    
