- var page = "Wildlife Management"
- var pageslug = "wildlife-management"

doctype html
html(lang="en")
  head
    include partials/_head.jade
  body.page--basic
    include partials/_header.jade
    main.with-sidebar
    
      .secondary-navigation
        .content
          .form-item.hidden-desktop
            label.form-label About Düsternbrook
            .form-select
              select.no-icon(name='secondary-nav', onchange="if (this.value) window.location.href=this.value")
                option(value='history.html') History 
                option(value='wildlife-management.html') Wildlife Management
                option(value='what-is-a-guest-farm.html', selected='selected') What is a guest farm?
                option(value='wildlife-photography-namibia.html') Professional photography
                option(value='eco-award.html') Eco-award program
                option(value='links.html') Links
          .only-desktop
            label.menu-label About Düsternbrook
            ul.menu
              li 
                a(href='history.html') History
              li
                a(href='wildlife-management.html') Wildlife Management
              li
                a.active(href='what-is-a-guest-farm.html') What is a guest farm?
              li
                a(href='wildlife-photography-namibia.html') Professional photography
              li
                a(href='eco-award.html') Eco-award program             
              li
                a(href='links.html') Links
                
    
      .content-with-left-sidebar
        .intro-header
          .content
            h1 What is a Guest Farm?
            
        .section-page
          :markdown
            A guest farm provides accommodation on a farm or better ranch. As mentioned above, the first guest farm (ranch) was founded by Marga Vaatz back in 1962. Guest farms are now a widespread Namibian development. In Namibia vast areas are used as cattle and sheep ranches. On guest farms you will still mostly find the ranching business, but in addition, farmers also offer accommodation with full- and halfboard service. In the beginning they renovated outbuildings that had lost their original function into guest rooms or they built new rooms. Only after several years, as this type of development became more and more popular, were laws written to regulate the guest farms. Today they have to fulfill certain minimum standards by law. Guest farms are family run (mostly five rooms) and are geared towards the independent traveler in areas in which one normally doesn't find large numbers of tourists or buses.
            
            A guest farm offers you close contact with the owner and the local community. Recreational activities are mostly walking trails, horseback riding, game viewing and various site-specific attractions. Guest farms are not lodges in the classical sense. Lodges are a result of increasing numbers of tourists and are newly-built accommodation resorts, also in the countryside. They are bigger, have more rooms, are more modern in order to cater to bus loads and have more of a hotel character in the countryside. Often built near natural tourist attractions such as Etosha, Sossusvlei, Fish River Canyon, etc.
            
            A guest farm has more history and attachment to the country. Every guest farm is unique and has its own charm and past. It is a good choice for the independent traveler as he will meet people with similar interests and get more contact with the local people and more family atmosphere. Normally, on a classical guest farm, you eat with the owner at one table, share your experiences of your trip and tap in to his knowledge or that of other guests with their up-to-date experiences.
        
    include partials/_footer.jade  
    include partials/_scripts.jade
