.intro-header {
  position: relative;

  .content {
    padding: 80px 20px 40px;
    text-align: center;
    font-family: 'Acme';
  }

  h1 {
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 1.1em;
  }

}
