---
title: Gallery
body_class: not-front
---

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title Rates
    %article.view-mode-full.content
      %h2.section-heading
      = I18n.t(data.pages.homepage)
