---
title: Home
body_class: front
---

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title Greenwire living style guide
    %article.view-mode-full.content
      %h2.section-heading Introduction
      = I18n.t(data.pages.homepage)
